/**
 * ENHANCE STYLES
 * For more information, please see the documentation at : https://github.com/enhance-dev/enhance-styles#readme
 */

/*** Theme Colors ***/
:root {
  --accent-h: 208;
  --accent-s: 100%;
  --accent-l: 42.9%;
  --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --light: #fefefe;
  --dark: #222222;
  --fore: var(--dark, currentColor);
  --back: var(--light);
  --error-h: 0;
  --error-s: 94.5%;
  --error-l: 43.1%;
  --error: hsl(var(--error-h), var(--error-s), var(--error-l));
  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);
  --focus-l: 30%;
  accent-color: var(--accent, royalblue);
  color-scheme: light dark;
}
:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}
:is(a, button, input, textarea, summary):focus-visible {
  outline: max(var(--focus-size, 1px), 1px) solid var(--accent, royalblue);
  outline-offset: var(--focus-offset, 0);
  box-shadow: 0 0 0 max(var(--focus-size, 3px), 3px) hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + var(--focus-l)))
  ;
}
:is(a, button, input, textarea, summary):not(:focus):not(:placeholder-shown):invalid {
  outline: max(var(--focus-size, 1px), 1px) solid var(--error, crimson);
  outline-offset: var(--focus-offset, 0);
  box-shadow: 0 0 0 3px hsl(var(--error-h), var(--error-s), calc(var(--error-l) + var(--focus-l)));
}
@media (prefers-color-scheme: dark) {
  :root {
    --accent-h: 208;
    --accent-s: 100%;
    --accent-l: 62%;
    --error-h: 0;
    --error-s: 94.5%;
    --error-l: 62%;
    --focus-l: -30%;
    --fore: var(--light);
    --back: var(--dark);
  }
}

/*** Spot Colors ***/
:root {
  --blue-black: #222024;
  --smoke: #eee;
  --light-muted: #777;
  --dark-muted: #999;
  --alpha-grey: rgba(120, 120, 120, 0.5);
}





/*** Reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
 margin: 0;
 padding: 0;
 border: 0 solid transparent;
}
html:focus-within {
  scroll-behavior: smooth;
}
audio,
canvas,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
img,
picture,
svg,
video {
  block-size: auto;
}
button,
input,
select,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
}
code {
  font: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul[role='list'],
ol[role='list'] {
 list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
dialog {
  margin: auto;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*** Typeface ***/
html {font-size: 100%;}

/*** Family ***/
.font-sans{font-family: Authentic Sans, sans-serif;}

body {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeSpeed;
}


/*** Smoothing ***/
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*** Background ***/
.bg-fixed{background-attachment:fixed;}
.bg-local{background-attachment:local;}
.bg-scroll{background-attachment:scroll;}
.bg-bottom{background-position:bottom;}
.bg-center{background-position:center;}
.bg-left{background-position:left;}
.bg-left-bottom{background-position:left bottom;}
.bg-left-top{background-position:left top;}
.bg-right{background-position:right;}
.bg-right-bottom{background-position:right bottom;}
.bg-right-top{background-position:right top;}
.bg-top{background-position:top;}
.bg-repeat{background-repeat:repeat;}
.bg-no-repeat{background-repeat:no-repeat;}
.bg-repeat-x{background-repeat:repeat-x;}
.bg-repeat-y{background-repeat:repeat-y;}
.bg-repeat-round{background-repeat:round;}
.bg-repeat-space{background-repeat:space;}
.bg-auto{background-size:auto;}
.bg-cover{background-size:cover;}
.bg-contain{background-size:contain;}
.bg-unset{background-color:unset;}
.bg-clip-border{background-clip:border-box;}
.bg-clip-content{background-clip:content-box;}
.bg-clip-padding{background-clip:padding-box;}
.bg-clip-text{
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
}


/*** Border ***/
.border-solid{border-style:solid;}
.border-dashed{border-style:dashed;}
.border-dotted{border-style:dotted;}
.border-double{border-style:double;}
.border-none{border-style:none;}
.border-bs-none{border-block-start:none;}
.border-be-none{border-block-end:none;}
.border-is-none{border-inline-start:none;}
.border-ie-none{border-inline-end:none;}

.border0{border-width:0px;}
.border-bs0{border-block-start-width:0px;}
.border-be0{border-block-end-width:0px;}
.border-is0{border-inline-start-width:0px;}
.border-ie0{border-inline-end-width:0px;}

.border1{border-width:1px;}
.border-bs1{border-block-start-width:1px;}
.border-be1{border-block-end-width:1px;}
.border-is1{border-inline-start-width:1px;}
.border-ie1{border-inline-end-width:1px;}


/*** Radius ***/
.radius-none{border-radius:0;}
.radius-100{border-radius:100%;}
.radius-pill{border-radius:9999px;}
.radius-bs-none,
.radius-is-none,
.radius-ss-none{border-start-start-radius:0;}
.radius-bs-none,
.radius-ie-none,
.radius-se-none{border-start-end-radius:0;}
.radius-be-none,
.radius-is-none,
.radius-es-none{border-end-start-radius:0;}
.radius-be-none,
.radius-ie-none,
.radius-ee-none{border-end-end-radius:0;}


/*** Color ***/
.text-current{color:currentColor}/* current color */
.text-transparent{color:transparent}/* transparent */

.border-current{border-color:currentColor}/* current color */
.border-transparent{border-color:transparent}/* transparent */

.background-current{background-color:currentColor}/* current color */
.background-transparent{background-color:transparent}/* transparent */


/*** Fill ***/
.fill-none{fill:none}
.fill-current{fill:currentColor}


/*** Stroke ***/
.stroke-none{stroke:none;}
.stroke-current{stroke:currentColor;}
  




/*** Style ***/
.italic{font-style:italic;}
.not-italic{font-style:normal;}


/*** Line Height ***/
.leading5{line-height: 2;}
.leading4{line-height: 1.625;}
.leading3{line-height: 1.5;}
.leading2{line-height: 1.375;}
.leading1{line-height: 1.25;}
.leading0,
.leading-none{line-height:1;}


/*** Tracking ***/
.tracking3{letter-spacing: 0.1em;}
.tracking2{letter-spacing: 0.05em;}
.tracking1{letter-spacing: 0.025em;}
.tracking0{letter-spacing: 0;}
.tracking-1{letter-spacing: -0.025em;}
.tracking-2{letter-spacing: -0.05em;}
  

/*** Font Weight ***/
.font-hairline{font-weight:100;}
.font-thin{font-weight:200;}
.font-light{font-weight:300;}
.font-normal{font-weight:400;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.font-extrabold{font-weight:800;}
.font-black{font-weight:900;}


/*** Text Transform ***/
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.normal-case{text-transform:none;}
  

/*** Text alignment ***/
.text-inherit{text-align:inherit;}
.text-center{text-align:center;}
.text-start{text-align:start;}
.text-end{text-align:end;}
  

/*** Decoration ***/
.no-underline{text-decoration:none;}
.underline{text-decoration:underline;}
.line-through{text-decoration:line-through;}
  

/*** List ***/
.list-none{list-style:none;}
.list-disc{list-style:disc;}
.list-decimal{list-style:decimal;}


/*** Whitespace ***/
.whitespace-normal{white-space:normal;}
.truncate,
.whitespace-no-wrap{white-space:nowrap;}
.whitespace-pre{white-space:pre;}
.whitespace-pre-line{white-space:pre-line;}
.whitespace-pre-wrap{white-space:pre-wrap;}
  

/*** Wordbreak ***/
.break-normal{word-break:normal}
.break-normal,
.break-word{overflow-wrap:normal}
.break-all{word-break:break-all}
.break-keep{word-break:keep-all}
.truncate,
.ellipsis{text-overflow:ellipsis}
  
  

/*** Layout ***/


/*** Position ***/
.sticky{position:sticky;}
.static{position:static;}
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}


/*** Inset ***/
.inset-0{inset:0}
.inset-b-0{inset-block:0;}
.inset-bs-0{inset-block-start:0;}
.inset-be-0{inset-block-end:0;}
.inset-i-0{inset-inline:0;}
.inset-is-0{inset-inline-start:0;}
.inset-ie-0{inset-inline-end:0;}


/*** Display ***/
.hidden{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.grid{display:grid;}
.inline-grid{display:inline-grid;}


/*** Size ***/
.sb-0{block-size:0}
.sb-auto{block-size:auto}
.sb-100{block-size:100%}
.sb-min-0{min-block-size:0}
.sb-min-100{min-block-size:100%}
.sb-max-0{max-block-size:0}
.sb-max-100{max-block-size:100%}
.sb-100vw{block-size:100vw}
.sb-100vh{block-size:100vh}
.si-0{inline-size:0}
.si-auto{inline-size:auto}
.si-100{inline-size:100%}
.si-min-0{min-inline-size:0}
.si-min-100{min-inline-size:100%}
.si-max0{max-inline-size:0}
.si-max-100{max-inline-size:100%}
.si-100vw{inline-size:100vw}
.si-100vh{inline-size:100vh}


/*** Flex ***/
.flex-1{flex: 1 1 0%;}
.flex-auto{flex: 1 1 auto;}
.flex-initial{flex: 0 1 auto;}
.flex-none{flex:none;}
.flex-row{flex-direction:row;}
.flex-row-reverse{flex-direction:row-reverse;}
.flex-col{flex-direction:column;}
.flex-col-reverse{flex-direction:column-reverse;}
.flex-grow{flex-grow:1;}
.flex-grow-0{flex-grow:0;}
.flex-shrink{flex-shrink:1;}
.flex-shrink-0{flex-shrink:0;}
.flex-wrap{flex-wrap:wrap;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}
.flex-no-wrap{flex-wrap:nowrap;}


/*** Grid ***/
.flow-row{grid-auto-flow:row;}
.flow-col{grid-auto-flow:column;}
.flow-row-dense{grid-auto-flow:row dense;}
.flow-column-dense{grid-auto-flow:column dense;}
.row-auto{grid-row:auto;}
.col-auto{grid-column:auto;}
.col-end-auto{grid-column-end: auto;}
.rows-end-auto{grid-row-end:auto;}
.rows-none{grid-template-rows:none;}
.col-1{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1{grid-column: span 1 / span 1;}
.col-start-1{grid-column-start: 1;}
.row-start-1{grid-row-start: 1;}
.col-end-1{grid-column-end: 1;}
.row-end-1{grid-row-end: 1;}
.row-1{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2{grid-column: span 2 / span 2;}
.col-start-2{grid-column-start: 2;}
.row-start-2{grid-row-start: 2;}
.col-end-2{grid-column-end: 2;}
.row-end-2{grid-row-end: 2;}
.row-2{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3{grid-column: span 3 / span 3;}
.col-start-3{grid-column-start: 3;}
.row-start-3{grid-row-start: 3;}
.col-end-3{grid-column-end: 3;}
.row-end-3{grid-row-end: 3;}
.row-3{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4{grid-column: span 4 / span 4;}
.col-start-4{grid-column-start: 4;}
.row-start-4{grid-row-start: 4;}
.col-end-4{grid-column-end: 4;}
.row-end-4{grid-row-end: 4;}
.row-4{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5{grid-column: span 5 / span 5;}
.col-start-5{grid-column-start: 5;}
.row-start-5{grid-row-start: 5;}
.col-end-5{grid-column-end: 5;}
.row-end-5{grid-row-end: 5;}
.row-5{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6{grid-column: span 6 / span 6;}
.col-start-6{grid-column-start: 6;}
.row-start-6{grid-row-start: 6;}
.col-end-6{grid-column-end: 6;}
.row-end-6{grid-row-end: 6;}
.row-6{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7{grid-column: span 7 / span 7;}
.col-start-7{grid-column-start: 7;}
.row-start-7{grid-row-start: 7;}
.col-end-7{grid-column-end: 7;}
.row-end-7{grid-row-end: 7;}
.row-7{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8{grid-column: span 8 / span 8;}
.col-start-8{grid-column-start: 8;}
.row-start-8{grid-row-start: 8;}
.col-end-8{grid-column-end: 8;}
.row-end-8{grid-row-end: 8;}
.row-8{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9{grid-column: span 9 / span 9;}
.col-start-9{grid-column-start: 9;}
.row-start-9{grid-row-start: 9;}
.col-end-9{grid-column-end: 9;}
.row-end-9{grid-row-end: 9;}
.row-9{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10{grid-column: span 10 / span 10;}
.col-start-10{grid-column-start: 10;}
.row-start-10{grid-row-start: 10;}
.col-end-10{grid-column-end: 10;}
.row-end-10{grid-row-end: 10;}
.row-10{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11{grid-column: span 11 / span 11;}
.col-start-11{grid-column-start: 11;}
.row-start-11{grid-row-start: 11;}
.col-end-11{grid-column-end: 11;}
.row-end-11{grid-row-end: 11;}
.row-11{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12{grid-column: span 12 / span 12;}
.col-start-12{grid-column-start: 12;}
.row-start-12{grid-row-start: 12;}
.col-end-12{grid-column-end: 12;}
.row-end-12{grid-row-end: 12;}
.row-12{grid-template-rows: repeat(12, minmax(0, 1fr));}


/*** Box alignment ***/
.align-items-stretch{align-items:stretch;}
.align-items-center{align-items:center;}
.align-items-start{align-items:start;}
.align-items-end{align-items:end;}
.align-items-self-start{align-items:self-start;}
.align-items-self-end{align-items:self-end;}
.align-items-flex-start{align-items:flex-start;}
.align-items-flex-end{align-items:flex-end;}
.align-items-baseline{align-items:baseline;}

.align-content-stretch{align-content:stretch;}
.align-content-center{align-content:center;}
.align-content-start{align-content:start;}
.align-content-end{align-content:end;}
.align-content-flex-start{align-content:flex-start;}
.align-content-flex-end{align-content:flex-end;}
.align-content-baseline{align-content:baseline;}
.align-content-between{align-content:space-between;}
.align-content-around{align-content:space-around;}
.align-content-evenly{align-content:space-evenly;}

.align-self-stretch{align-self:stretch;}
.align-self-auto{align-self:auto;}
.align-self-center{align-self:center;}
.align-self-start{align-self:start;}
.align-self-end{align-self:end;}
.align-self-self-start{align-self:self-start;}
.align-self-self-end{align-self:self-end;}
.align-self-flex-start{align-self:flex-start;}
.align-self-flex-end{align-self:flex-end;}
.align-self-baseline{align-self:baseline;}

.justify-content-stretch{justify-content:stretch;}
.justify-content-center{justify-content:center;}
.justify-content-start{justify-content:start;}
.justify-content-end{justify-content:end;}
.justify-content-flex-start{justify-content:flex-start;}
.justify-content-flex-end{justify-content:flex-end;}
.justify-content-between{justify-content:space-between;}
.justify-content-around{justify-content:space-around;}
.justify-content-evenly{justify-content:space-evenly;}

.justify-items-stretch{justify-items:stretch;}
.justify-items-center{justify-items:center;}
.justify-items-start{justify-items:start;}
.justify-items-end{justify-items:end;}
.justify-items-flex-start{justify-items:flex-start;}
.justify-items-flex-end{justify-items:flex-end;}
.justify-items-self-start{justify-items:self-start;}
.justify-items-self-end{justify-items:self-end;}
.justify-items-baseline{justify-items:baseline;}

.justify-self-stretch{justify-self:stretch;}
.justify-self-center{justify-self:center;}
.justify-self-start{justify-self:start;}
.justify-self-end{justify-self:end;}
.justify-self-flex-start{justify-self:flex-start;}
.justify-self-flex-end{justify-self:flex-end;}
.justify-self-self-start{justify-self:self-start;}
.justify-self-self-end{justify-self:self-end;}
.justify-self-baseline{justify-self:baseline;}

.place-content-stretch{place-content:stretch;}
.place-content-center{place-content:center;}
.place-content-start{place-content:start;}
.place-content-end{place-content:end;}
.place-content-flex-start{place-content:flex-start;}
.place-content-flex-end{place-content:flex-end;}
.place-content-between{place-content:space-between;}
.place-content-around{place-content:space-around;}
.place-content-evenly{place-content:space-evenly;}

.place-items-stretch{place-items:stretch;}
.place-items-center{place-items:center;}
.place-items-start{place-items:start;}
.place-items-end{place-items:end;}
.place-items-self-start{place-items:self-start;}
.place-items-self-end{place-items:self-end;}
.place-items-flex-start{place-items:flex-start;}
.place-items-flex-end{place-items:flex-end;}
.place-items-baseline{place-items:baseline;}

.place-self-stretch{place-self:stretch;}
.place-self-center{place-self:center;}
.place-self-start{place-self:start;}
.place-self-end{place-self:end;}
.place-self-flex-start{place-self:flex-start;}
.place-self-flex-end{place-self:flex-end;}
.place-self-self-start{place-self:self-start;}
.place-self-self-end{place-self:self-end;}
.place-self-baseline{place-self:baseline;}



/*** Order ***/
.order-first{order:-9999;}
.order-last{order:9999;}
.order-none{order:0;}
.order-1{order:1;}
.order-2{order:2;}
.order-3{order:3;}
.order-4{order:4;}
.order-5{order:5;}
.order-6{order:6;}


/*** Z-Index ***/
.z-auto{z-index:auto;}
.z1{z-index:1;}
.z0{z-index:0;}
.z-1{z-index:-1;}



/*** Margin ***/
.m-none{margin:0}
.mb-none{margin-block:0}
.mbs-none{margin-block-start:0}
.mbe-none{margin-block-end:0}
.mi-none{margin-inline:0}
.mis-none{margin-inline-start:0}
.mie-none{margin-inline-end:0}
.m-auto{margin:auto}
.mb-auto{margin-block:auto}
.mbs-auto{margin-block-start:auto}
.mbe-auto{margin-block-end:auto}
.mi-auto{margin-inline:auto}
.mis-auto{margin-inline-start:auto}
.mie-auto{margin-inline-end:auto}


/*** Padding ***/
.p-none{padding:0}
.pb-none{padding-block:0}
.pbs-none{padding-block-start:0}
.pbe-none{padding-block-end:0}
.pi-none{padding-inline:0}
.pis-none{padding-inline-start:0}
.pie-none{padding-inline-end:0}


/*** Overflow ***/
.overflow-auto{overflow:auto;}
.truncate,
.overflow-hidden{overflow:hidden;}
.overflow-visible{overflow:visible;}
.overflow-scroll{overflow:scroll;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-scroll{overflow-y:scroll;}
.overflow-y-hidden{overflow-y:hidden;}
.scrolling-touch{-webkit-overflow-scrolling:touch;}
.scrolling-auto{-webkit-overflow-scrolling:auto;}


/*** Visibility ***/
.invisible{visibility:hidden;}
.visible{visibility:visible;}


/*** Object Fit ***/
.object-contain{object-fit:contain;}
.object-cover{object-fit:cover;}
.object-fill{object-fit:fill;}
.object-none{object-fit:none;}
.object-scale-down{object-fit:scale-down;}


/*** Object Position ***/
.object-b{object-position:bottom;}
.object-c{object-position:center;}
.object-t{object-position:top;}
.object-r{object-position:right;}
.object-rt{object-position:right top;}
.object-rb{object-position:right bottom;}
.object-l{object-position:left;}
.object-lt{object-position:left top;}
.object-lb{object-position:left bottom;}
  

/*** Outline ***/
.outline-none{outline:0;}
  

/*** Opacity ***/
.opacity-0{opacity:0;}
.opacity-25{opacity:0.25;}
.opacity-50{opacity:0.5;}
.opacity-75{opacity:0.75;}
.opacity-100{opacity:1.0;}


/*** Cursor ***/
.cursor-auto{cursor:auto;}
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-wait{cursor:wait;}
.cursor-text{cursor:text;}
.cursor-move{cursor:move;}
.cursor-not-allowed{cursor:not-allowed;}
.cursor-grab{cursor:grab;}
.cursor-grabbing{cursor:grabbing;}


/*** User Select ***/
.select-none{user-select:none;}
.select-text{user-select:text;}
.select-all{user-select:all;}
.select-auto{user-select:auto;}
  

/*** Debug ***/
.debug * { outline: 2px dotted var(--debug-color, rebeccapurple) }
.debug *:hover { border:2px solid var(--debug-color, rebeccapurple) }
  

@media only screen and (min-width:48em) {
  



/*** Style ***/
.italic-md{font-style:italic;}
.not-italic-md{font-style:normal;}


/*** Line Height ***/
.leading5-md{line-height: 2;}
.leading4-md{line-height: 1.625;}
.leading3-md{line-height: 1.5;}
.leading2-md{line-height: 1.375;}
.leading1-md{line-height: 1.25;}
.leading0-md,
.leading-none-md{line-height:1;}


/*** Tracking ***/
.tracking3-md{letter-spacing: 0.1em;}
.tracking2-md{letter-spacing: 0.05em;}
.tracking1-md{letter-spacing: 0.025em;}
.tracking0-md{letter-spacing: 0;}
.tracking-1-md{letter-spacing: -0.025em;}
.tracking-2-md{letter-spacing: -0.05em;}
  

/*** Font Weight ***/
.font-hairline-md{font-weight:100;}
.font-thin-md{font-weight:200;}
.font-light-md{font-weight:300;}
.font-normal-md{font-weight:400;}
.font-medium-md{font-weight:500;}
.font-semibold-md{font-weight:600;}
.font-bold-md{font-weight:700;}
.font-extrabold-md{font-weight:800;}
.font-black-md{font-weight:900;}


/*** Text Transform ***/
.uppercase-md{text-transform:uppercase;}
.lowercase-md{text-transform:lowercase;}
.capitalize-md{text-transform:capitalize;}
.normal-case-md{text-transform:none;}
  

/*** Text alignment ***/
.text-inherit-md{text-align:inherit;}
.text-center-md{text-align:center;}
.text-start-md{text-align:start;}
.text-end-md{text-align:end;}
  

/*** Decoration ***/
.no-underline-md{text-decoration:none;}
.underline-md{text-decoration:underline;}
.line-through-md{text-decoration:line-through;}
  

/*** List ***/
.list-none-md{list-style:none;}
.list-disc-md{list-style:disc;}
.list-decimal-md{list-style:decimal;}


/*** Whitespace ***/
.whitespace-normal-md{white-space:normal;}
.truncate-md,
.whitespace-no-wrap-md{white-space:nowrap;}
.whitespace-pre-md{white-space:pre;}
.whitespace-pre-line-md{white-space:pre-line;}
.whitespace-pre-wrap-md{white-space:pre-wrap;}
  

/*** Wordbreak ***/
.break-normal-md{word-break:normal}
.break-normal-md,
.break-word-md{overflow-wrap:normal}
.break-all-md{word-break:break-all}
.break-keep-md{word-break:keep-all}
.truncate-md,
.ellipsis-md{text-overflow:ellipsis}
  
  

/*** Layout ***/


/*** Position ***/
.sticky-md{position:sticky;}
.static-md{position:static;}
.absolute-md{position:absolute;}
.relative-md{position:relative;}
.fixed-md{position:fixed;}


/*** Inset ***/
.inset-0-md{inset:0}
.inset-b-0-md{inset-block:0;}
.inset-bs-0-md{inset-block-start:0;}
.inset-be-0-md{inset-block-end:0;}
.inset-i-0-md{inset-inline:0;}
.inset-is-0-md{inset-inline-start:0;}
.inset-ie-0-md{inset-inline-end:0;}


/*** Display ***/
.hidden-md{display:none;}
.block-md{display:block;}
.inline-md{display:inline;}
.inline-block-md{display:inline-block;}
.flex-md{display:flex;}
.inline-flex-md{display:inline-flex;}
.grid-md{display:grid;}
.inline-grid-md{display:inline-grid;}


/*** Size ***/
.sb-0-md{block-size:0}
.sb-auto-md{block-size:auto}
.sb-100-md{block-size:100%}
.sb-min-0-md{min-block-size:0}
.sb-min-100-md{min-block-size:100%}
.sb-max-0-md{max-block-size:0}
.sb-max-100-md{max-block-size:100%}
.sb-100vw-md{block-size:100vw}
.sb-100vh-md{block-size:100vh}
.si-0-md{inline-size:0}
.si-auto-md{inline-size:auto}
.si-100-md{inline-size:100%}
.si-min-0-md{min-inline-size:0}
.si-min-100-md{min-inline-size:100%}
.si-max0-md{max-inline-size:0}
.si-max-100-md{max-inline-size:100%}
.si-100vw-md{inline-size:100vw}
.si-100vh-md{inline-size:100vh}


/*** Flex ***/
.flex-1-md{flex: 1 1 0%;}
.flex-auto-md{flex: 1 1 auto;}
.flex-initial-md{flex: 0 1 auto;}
.flex-none-md{flex:none;}
.flex-row-md{flex-direction:row;}
.flex-row-reverse-md{flex-direction:row-reverse;}
.flex-col-md{flex-direction:column;}
.flex-col-reverse-md{flex-direction:column-reverse;}
.flex-grow-md{flex-grow:1;}
.flex-grow-0-md{flex-grow:0;}
.flex-shrink-md{flex-shrink:1;}
.flex-shrink-0-md{flex-shrink:0;}
.flex-wrap-md{flex-wrap:wrap;}
.flex-wrap-reverse-md{flex-wrap:wrap-reverse;}
.flex-no-wrap-md{flex-wrap:nowrap;}


/*** Grid ***/
.flow-row-md{grid-auto-flow:row;}
.flow-col-md{grid-auto-flow:column;}
.flow-row-dense-md{grid-auto-flow:row dense;}
.flow-column-dense-md{grid-auto-flow:column dense;}
.row-auto-md{grid-row:auto;}
.col-auto-md{grid-column:auto;}
.col-end-auto-md{grid-column-end: auto;}
.rows-end-auto-md{grid-row-end:auto;}
.rows-none-md{grid-template-rows:none;}
.col-1-md{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1-md{grid-column: span 1 / span 1;}
.col-start-1-md{grid-column-start: 1;}
.row-start-1-md{grid-row-start: 1;}
.col-end-1-md{grid-column-end: 1;}
.row-end-1-md{grid-row-end: 1;}
.row-1-md{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2-md{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2-md{grid-column: span 2 / span 2;}
.col-start-2-md{grid-column-start: 2;}
.row-start-2-md{grid-row-start: 2;}
.col-end-2-md{grid-column-end: 2;}
.row-end-2-md{grid-row-end: 2;}
.row-2-md{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3-md{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3-md{grid-column: span 3 / span 3;}
.col-start-3-md{grid-column-start: 3;}
.row-start-3-md{grid-row-start: 3;}
.col-end-3-md{grid-column-end: 3;}
.row-end-3-md{grid-row-end: 3;}
.row-3-md{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4-md{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4-md{grid-column: span 4 / span 4;}
.col-start-4-md{grid-column-start: 4;}
.row-start-4-md{grid-row-start: 4;}
.col-end-4-md{grid-column-end: 4;}
.row-end-4-md{grid-row-end: 4;}
.row-4-md{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5-md{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5-md{grid-column: span 5 / span 5;}
.col-start-5-md{grid-column-start: 5;}
.row-start-5-md{grid-row-start: 5;}
.col-end-5-md{grid-column-end: 5;}
.row-end-5-md{grid-row-end: 5;}
.row-5-md{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6-md{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6-md{grid-column: span 6 / span 6;}
.col-start-6-md{grid-column-start: 6;}
.row-start-6-md{grid-row-start: 6;}
.col-end-6-md{grid-column-end: 6;}
.row-end-6-md{grid-row-end: 6;}
.row-6-md{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7-md{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7-md{grid-column: span 7 / span 7;}
.col-start-7-md{grid-column-start: 7;}
.row-start-7-md{grid-row-start: 7;}
.col-end-7-md{grid-column-end: 7;}
.row-end-7-md{grid-row-end: 7;}
.row-7-md{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8-md{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8-md{grid-column: span 8 / span 8;}
.col-start-8-md{grid-column-start: 8;}
.row-start-8-md{grid-row-start: 8;}
.col-end-8-md{grid-column-end: 8;}
.row-end-8-md{grid-row-end: 8;}
.row-8-md{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9-md{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9-md{grid-column: span 9 / span 9;}
.col-start-9-md{grid-column-start: 9;}
.row-start-9-md{grid-row-start: 9;}
.col-end-9-md{grid-column-end: 9;}
.row-end-9-md{grid-row-end: 9;}
.row-9-md{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10-md{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10-md{grid-column: span 10 / span 10;}
.col-start-10-md{grid-column-start: 10;}
.row-start-10-md{grid-row-start: 10;}
.col-end-10-md{grid-column-end: 10;}
.row-end-10-md{grid-row-end: 10;}
.row-10-md{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11-md{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11-md{grid-column: span 11 / span 11;}
.col-start-11-md{grid-column-start: 11;}
.row-start-11-md{grid-row-start: 11;}
.col-end-11-md{grid-column-end: 11;}
.row-end-11-md{grid-row-end: 11;}
.row-11-md{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12-md{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12-md{grid-column: span 12 / span 12;}
.col-start-12-md{grid-column-start: 12;}
.row-start-12-md{grid-row-start: 12;}
.col-end-12-md{grid-column-end: 12;}
.row-end-12-md{grid-row-end: 12;}
.row-12-md{grid-template-rows: repeat(12, minmax(0, 1fr));}


/*** Box alignment ***/
.align-items-stretch-md{align-items:stretch;}
.align-items-center-md{align-items:center;}
.align-items-start-md{align-items:start;}
.align-items-end-md{align-items:end;}
.align-items-self-start-md{align-items:self-start;}
.align-items-self-end-md{align-items:self-end;}
.align-items-flex-start-md{align-items:flex-start;}
.align-items-flex-end-md{align-items:flex-end;}
.align-items-baseline-md{align-items:baseline;}

.align-content-stretch-md{align-content:stretch;}
.align-content-center-md{align-content:center;}
.align-content-start-md{align-content:start;}
.align-content-end-md{align-content:end;}
.align-content-flex-start-md{align-content:flex-start;}
.align-content-flex-end-md{align-content:flex-end;}
.align-content-baseline-md{align-content:baseline;}
.align-content-between-md{align-content:space-between;}
.align-content-around-md{align-content:space-around;}
.align-content-evenly-md{align-content:space-evenly;}

.align-self-stretch-md{align-self:stretch;}
.align-self-auto-md{align-self:auto;}
.align-self-center-md{align-self:center;}
.align-self-start-md{align-self:start;}
.align-self-end-md{align-self:end;}
.align-self-self-start-md{align-self:self-start;}
.align-self-self-end-md{align-self:self-end;}
.align-self-flex-start-md{align-self:flex-start;}
.align-self-flex-end-md{align-self:flex-end;}
.align-self-baseline-md{align-self:baseline;}

.justify-content-stretch-md{justify-content:stretch;}
.justify-content-center-md{justify-content:center;}
.justify-content-start-md{justify-content:start;}
.justify-content-end-md{justify-content:end;}
.justify-content-flex-start-md{justify-content:flex-start;}
.justify-content-flex-end-md{justify-content:flex-end;}
.justify-content-between-md{justify-content:space-between;}
.justify-content-around-md{justify-content:space-around;}
.justify-content-evenly-md{justify-content:space-evenly;}

.justify-items-stretch-md{justify-items:stretch;}
.justify-items-center-md{justify-items:center;}
.justify-items-start-md{justify-items:start;}
.justify-items-end-md{justify-items:end;}
.justify-items-flex-start-md{justify-items:flex-start;}
.justify-items-flex-end-md{justify-items:flex-end;}
.justify-items-self-start-md{justify-items:self-start;}
.justify-items-self-end-md{justify-items:self-end;}
.justify-items-baseline-md{justify-items:baseline;}

.justify-self-stretch-md{justify-self:stretch;}
.justify-self-center-md{justify-self:center;}
.justify-self-start-md{justify-self:start;}
.justify-self-end-md{justify-self:end;}
.justify-self-flex-start-md{justify-self:flex-start;}
.justify-self-flex-end-md{justify-self:flex-end;}
.justify-self-self-start-md{justify-self:self-start;}
.justify-self-self-end-md{justify-self:self-end;}
.justify-self-baseline-md{justify-self:baseline;}

.place-content-stretch-md{place-content:stretch;}
.place-content-center-md{place-content:center;}
.place-content-start-md{place-content:start;}
.place-content-end-md{place-content:end;}
.place-content-flex-start-md{place-content:flex-start;}
.place-content-flex-end-md{place-content:flex-end;}
.place-content-between-md{place-content:space-between;}
.place-content-around-md{place-content:space-around;}
.place-content-evenly-md{place-content:space-evenly;}

.place-items-stretch-md{place-items:stretch;}
.place-items-center-md{place-items:center;}
.place-items-start-md{place-items:start;}
.place-items-end-md{place-items:end;}
.place-items-self-start-md{place-items:self-start;}
.place-items-self-end-md{place-items:self-end;}
.place-items-flex-start-md{place-items:flex-start;}
.place-items-flex-end-md{place-items:flex-end;}
.place-items-baseline-md{place-items:baseline;}

.place-self-stretch-md{place-self:stretch;}
.place-self-center-md{place-self:center;}
.place-self-start-md{place-self:start;}
.place-self-end-md{place-self:end;}
.place-self-flex-start-md{place-self:flex-start;}
.place-self-flex-end-md{place-self:flex-end;}
.place-self-self-start-md{place-self:self-start;}
.place-self-self-end-md{place-self:self-end;}
.place-self-baseline-md{place-self:baseline;}



/*** Order ***/
.order-first-md{order:-9999;}
.order-last-md{order:9999;}
.order-none-md{order:0;}
.order-1-md{order:1;}
.order-2-md{order:2;}
.order-3-md{order:3;}
.order-4-md{order:4;}
.order-5-md{order:5;}
.order-6-md{order:6;}


/*** Z-Index ***/
.z-auto-md{z-index:auto;}
.z1-md{z-index:1;}
.z0-md{z-index:0;}
.z-1-md{z-index:-1;}



/*** Margin ***/
.m-none-md{margin:0}
.mb-none-md{margin-block:0}
.mbs-none-md{margin-block-start:0}
.mbe-none-md{margin-block-end:0}
.mi-none-md{margin-inline:0}
.mis-none-md{margin-inline-start:0}
.mie-none-md{margin-inline-end:0}
.m-auto-md{margin:auto}
.mb-auto-md{margin-block:auto}
.mbs-auto-md{margin-block-start:auto}
.mbe-auto-md{margin-block-end:auto}
.mi-auto-md{margin-inline:auto}
.mis-auto-md{margin-inline-start:auto}
.mie-auto-md{margin-inline-end:auto}


/*** Padding ***/
.p-none-md{padding:0}
.pb-none-md{padding-block:0}
.pbs-none-md{padding-block-start:0}
.pbe-none-md{padding-block-end:0}
.pi-none-md{padding-inline:0}
.pis-none-md{padding-inline-start:0}
.pie-none-md{padding-inline-end:0}


/*** Overflow ***/
.overflow-auto-md{overflow:auto;}
.truncate-md,
.overflow-hidden-md{overflow:hidden;}
.overflow-visible-md{overflow:visible;}
.overflow-scroll-md{overflow:scroll;}
.overflow-x-auto-md{overflow-x:auto;}
.overflow-y-auto-md{overflow-y:auto;}
.overflow-x-scroll-md{overflow-x:scroll;}
.overflow-x-hidden-md{overflow-x:hidden;}
.overflow-y-scroll-md{overflow-y:scroll;}
.overflow-y-hidden-md{overflow-y:hidden;}
.scrolling-touch-md{-webkit-overflow-scrolling:touch;}
.scrolling-auto-md{-webkit-overflow-scrolling:auto;}


/*** Visibility ***/
.invisible-md{visibility:hidden;}
.visible-md{visibility:visible;}


/*** Object Fit ***/
.object-contain-md{object-fit:contain;}
.object-cover-md{object-fit:cover;}
.object-fill-md{object-fit:fill;}
.object-none-md{object-fit:none;}
.object-scale-down-md{object-fit:scale-down;}


/*** Object Position ***/
.object-b-md{object-position:bottom;}
.object-c-md{object-position:center;}
.object-t-md{object-position:top;}
.object-r-md{object-position:right;}
.object-rt-md{object-position:right top;}
.object-rb-md{object-position:right bottom;}
.object-l-md{object-position:left;}
.object-lt-md{object-position:left top;}
.object-lb-md{object-position:left bottom;}
  

/*** Outline ***/
.outline-none-md{outline:0;}
  

/*** Opacity ***/
.opacity-0-md{opacity:0;}
.opacity-25-md{opacity:0.25;}
.opacity-50-md{opacity:0.5;}
.opacity-75-md{opacity:0.75;}
.opacity-100-md{opacity:1.0;}


/*** Cursor ***/
.cursor-auto-md{cursor:auto;}
.cursor-default-md{cursor:default;}
.cursor-pointer-md{cursor:pointer;}
.cursor-wait-md{cursor:wait;}
.cursor-text-md{cursor:text;}
.cursor-move-md{cursor:move;}
.cursor-not-allowed-md{cursor:not-allowed;}
.cursor-grab-md{cursor:grab;}
.cursor-grabbing-md{cursor:grabbing;}


/*** User Select ***/
.select-none-md{user-select:none;}
.select-text-md{user-select:text;}
.select-all-md{user-select:all;}
.select-auto-md{user-select:auto;}
  

/*** Debug ***/
.debug * { outline: 2px dotted var(--debug-color, rebeccapurple) }
.debug *:hover { border:2px solid var(--debug-color, rebeccapurple) }
  

}

@media only screen and (min-width:67em) {
  



/*** Style ***/
.italic-lg{font-style:italic;}
.not-italic-lg{font-style:normal;}


/*** Line Height ***/
.leading5-lg{line-height: 2;}
.leading4-lg{line-height: 1.625;}
.leading3-lg{line-height: 1.5;}
.leading2-lg{line-height: 1.375;}
.leading1-lg{line-height: 1.25;}
.leading0-lg,
.leading-none-lg{line-height:1;}


/*** Tracking ***/
.tracking3-lg{letter-spacing: 0.1em;}
.tracking2-lg{letter-spacing: 0.05em;}
.tracking1-lg{letter-spacing: 0.025em;}
.tracking0-lg{letter-spacing: 0;}
.tracking-1-lg{letter-spacing: -0.025em;}
.tracking-2-lg{letter-spacing: -0.05em;}
  

/*** Font Weight ***/
.font-hairline-lg{font-weight:100;}
.font-thin-lg{font-weight:200;}
.font-light-lg{font-weight:300;}
.font-normal-lg{font-weight:400;}
.font-medium-lg{font-weight:500;}
.font-semibold-lg{font-weight:600;}
.font-bold-lg{font-weight:700;}
.font-extrabold-lg{font-weight:800;}
.font-black-lg{font-weight:900;}


/*** Text Transform ***/
.uppercase-lg{text-transform:uppercase;}
.lowercase-lg{text-transform:lowercase;}
.capitalize-lg{text-transform:capitalize;}
.normal-case-lg{text-transform:none;}
  

/*** Text alignment ***/
.text-inherit-lg{text-align:inherit;}
.text-center-lg{text-align:center;}
.text-start-lg{text-align:start;}
.text-end-lg{text-align:end;}
  

/*** Decoration ***/
.no-underline-lg{text-decoration:none;}
.underline-lg{text-decoration:underline;}
.line-through-lg{text-decoration:line-through;}
  

/*** List ***/
.list-none-lg{list-style:none;}
.list-disc-lg{list-style:disc;}
.list-decimal-lg{list-style:decimal;}


/*** Whitespace ***/
.whitespace-normal-lg{white-space:normal;}
.truncate-lg,
.whitespace-no-wrap-lg{white-space:nowrap;}
.whitespace-pre-lg{white-space:pre;}
.whitespace-pre-line-lg{white-space:pre-line;}
.whitespace-pre-wrap-lg{white-space:pre-wrap;}
  

/*** Wordbreak ***/
.break-normal-lg{word-break:normal}
.break-normal-lg,
.break-word-lg{overflow-wrap:normal}
.break-all-lg{word-break:break-all}
.break-keep-lg{word-break:keep-all}
.truncate-lg,
.ellipsis-lg{text-overflow:ellipsis}
  
  

/*** Layout ***/


/*** Position ***/
.sticky-lg{position:sticky;}
.static-lg{position:static;}
.absolute-lg{position:absolute;}
.relative-lg{position:relative;}
.fixed-lg{position:fixed;}


/*** Inset ***/
.inset-0-lg{inset:0}
.inset-b-0-lg{inset-block:0;}
.inset-bs-0-lg{inset-block-start:0;}
.inset-be-0-lg{inset-block-end:0;}
.inset-i-0-lg{inset-inline:0;}
.inset-is-0-lg{inset-inline-start:0;}
.inset-ie-0-lg{inset-inline-end:0;}


/*** Display ***/
.hidden-lg{display:none;}
.block-lg{display:block;}
.inline-lg{display:inline;}
.inline-block-lg{display:inline-block;}
.flex-lg{display:flex;}
.inline-flex-lg{display:inline-flex;}
.grid-lg{display:grid;}
.inline-grid-lg{display:inline-grid;}


/*** Size ***/
.sb-0-lg{block-size:0}
.sb-auto-lg{block-size:auto}
.sb-100-lg{block-size:100%}
.sb-min-0-lg{min-block-size:0}
.sb-min-100-lg{min-block-size:100%}
.sb-max-0-lg{max-block-size:0}
.sb-max-100-lg{max-block-size:100%}
.sb-100vw-lg{block-size:100vw}
.sb-100vh-lg{block-size:100vh}
.si-0-lg{inline-size:0}
.si-auto-lg{inline-size:auto}
.si-100-lg{inline-size:100%}
.si-min-0-lg{min-inline-size:0}
.si-min-100-lg{min-inline-size:100%}
.si-max0-lg{max-inline-size:0}
.si-max-100-lg{max-inline-size:100%}
.si-100vw-lg{inline-size:100vw}
.si-100vh-lg{inline-size:100vh}


/*** Flex ***/
.flex-1-lg{flex: 1 1 0%;}
.flex-auto-lg{flex: 1 1 auto;}
.flex-initial-lg{flex: 0 1 auto;}
.flex-none-lg{flex:none;}
.flex-row-lg{flex-direction:row;}
.flex-row-reverse-lg{flex-direction:row-reverse;}
.flex-col-lg{flex-direction:column;}
.flex-col-reverse-lg{flex-direction:column-reverse;}
.flex-grow-lg{flex-grow:1;}
.flex-grow-0-lg{flex-grow:0;}
.flex-shrink-lg{flex-shrink:1;}
.flex-shrink-0-lg{flex-shrink:0;}
.flex-wrap-lg{flex-wrap:wrap;}
.flex-wrap-reverse-lg{flex-wrap:wrap-reverse;}
.flex-no-wrap-lg{flex-wrap:nowrap;}


/*** Grid ***/
.flow-row-lg{grid-auto-flow:row;}
.flow-col-lg{grid-auto-flow:column;}
.flow-row-dense-lg{grid-auto-flow:row dense;}
.flow-column-dense-lg{grid-auto-flow:column dense;}
.row-auto-lg{grid-row:auto;}
.col-auto-lg{grid-column:auto;}
.col-end-auto-lg{grid-column-end: auto;}
.rows-end-auto-lg{grid-row-end:auto;}
.rows-none-lg{grid-template-rows:none;}
.col-1-lg{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1-lg{grid-column: span 1 / span 1;}
.col-start-1-lg{grid-column-start: 1;}
.row-start-1-lg{grid-row-start: 1;}
.col-end-1-lg{grid-column-end: 1;}
.row-end-1-lg{grid-row-end: 1;}
.row-1-lg{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2-lg{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2-lg{grid-column: span 2 / span 2;}
.col-start-2-lg{grid-column-start: 2;}
.row-start-2-lg{grid-row-start: 2;}
.col-end-2-lg{grid-column-end: 2;}
.row-end-2-lg{grid-row-end: 2;}
.row-2-lg{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3-lg{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3-lg{grid-column: span 3 / span 3;}
.col-start-3-lg{grid-column-start: 3;}
.row-start-3-lg{grid-row-start: 3;}
.col-end-3-lg{grid-column-end: 3;}
.row-end-3-lg{grid-row-end: 3;}
.row-3-lg{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4-lg{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4-lg{grid-column: span 4 / span 4;}
.col-start-4-lg{grid-column-start: 4;}
.row-start-4-lg{grid-row-start: 4;}
.col-end-4-lg{grid-column-end: 4;}
.row-end-4-lg{grid-row-end: 4;}
.row-4-lg{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5-lg{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5-lg{grid-column: span 5 / span 5;}
.col-start-5-lg{grid-column-start: 5;}
.row-start-5-lg{grid-row-start: 5;}
.col-end-5-lg{grid-column-end: 5;}
.row-end-5-lg{grid-row-end: 5;}
.row-5-lg{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6-lg{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6-lg{grid-column: span 6 / span 6;}
.col-start-6-lg{grid-column-start: 6;}
.row-start-6-lg{grid-row-start: 6;}
.col-end-6-lg{grid-column-end: 6;}
.row-end-6-lg{grid-row-end: 6;}
.row-6-lg{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7-lg{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7-lg{grid-column: span 7 / span 7;}
.col-start-7-lg{grid-column-start: 7;}
.row-start-7-lg{grid-row-start: 7;}
.col-end-7-lg{grid-column-end: 7;}
.row-end-7-lg{grid-row-end: 7;}
.row-7-lg{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8-lg{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8-lg{grid-column: span 8 / span 8;}
.col-start-8-lg{grid-column-start: 8;}
.row-start-8-lg{grid-row-start: 8;}
.col-end-8-lg{grid-column-end: 8;}
.row-end-8-lg{grid-row-end: 8;}
.row-8-lg{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9-lg{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9-lg{grid-column: span 9 / span 9;}
.col-start-9-lg{grid-column-start: 9;}
.row-start-9-lg{grid-row-start: 9;}
.col-end-9-lg{grid-column-end: 9;}
.row-end-9-lg{grid-row-end: 9;}
.row-9-lg{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10-lg{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10-lg{grid-column: span 10 / span 10;}
.col-start-10-lg{grid-column-start: 10;}
.row-start-10-lg{grid-row-start: 10;}
.col-end-10-lg{grid-column-end: 10;}
.row-end-10-lg{grid-row-end: 10;}
.row-10-lg{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11-lg{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11-lg{grid-column: span 11 / span 11;}
.col-start-11-lg{grid-column-start: 11;}
.row-start-11-lg{grid-row-start: 11;}
.col-end-11-lg{grid-column-end: 11;}
.row-end-11-lg{grid-row-end: 11;}
.row-11-lg{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12-lg{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12-lg{grid-column: span 12 / span 12;}
.col-start-12-lg{grid-column-start: 12;}
.row-start-12-lg{grid-row-start: 12;}
.col-end-12-lg{grid-column-end: 12;}
.row-end-12-lg{grid-row-end: 12;}
.row-12-lg{grid-template-rows: repeat(12, minmax(0, 1fr));}


/*** Box alignment ***/
.align-items-stretch-lg{align-items:stretch;}
.align-items-center-lg{align-items:center;}
.align-items-start-lg{align-items:start;}
.align-items-end-lg{align-items:end;}
.align-items-self-start-lg{align-items:self-start;}
.align-items-self-end-lg{align-items:self-end;}
.align-items-flex-start-lg{align-items:flex-start;}
.align-items-flex-end-lg{align-items:flex-end;}
.align-items-baseline-lg{align-items:baseline;}

.align-content-stretch-lg{align-content:stretch;}
.align-content-center-lg{align-content:center;}
.align-content-start-lg{align-content:start;}
.align-content-end-lg{align-content:end;}
.align-content-flex-start-lg{align-content:flex-start;}
.align-content-flex-end-lg{align-content:flex-end;}
.align-content-baseline-lg{align-content:baseline;}
.align-content-between-lg{align-content:space-between;}
.align-content-around-lg{align-content:space-around;}
.align-content-evenly-lg{align-content:space-evenly;}

.align-self-stretch-lg{align-self:stretch;}
.align-self-auto-lg{align-self:auto;}
.align-self-center-lg{align-self:center;}
.align-self-start-lg{align-self:start;}
.align-self-end-lg{align-self:end;}
.align-self-self-start-lg{align-self:self-start;}
.align-self-self-end-lg{align-self:self-end;}
.align-self-flex-start-lg{align-self:flex-start;}
.align-self-flex-end-lg{align-self:flex-end;}
.align-self-baseline-lg{align-self:baseline;}

.justify-content-stretch-lg{justify-content:stretch;}
.justify-content-center-lg{justify-content:center;}
.justify-content-start-lg{justify-content:start;}
.justify-content-end-lg{justify-content:end;}
.justify-content-flex-start-lg{justify-content:flex-start;}
.justify-content-flex-end-lg{justify-content:flex-end;}
.justify-content-between-lg{justify-content:space-between;}
.justify-content-around-lg{justify-content:space-around;}
.justify-content-evenly-lg{justify-content:space-evenly;}

.justify-items-stretch-lg{justify-items:stretch;}
.justify-items-center-lg{justify-items:center;}
.justify-items-start-lg{justify-items:start;}
.justify-items-end-lg{justify-items:end;}
.justify-items-flex-start-lg{justify-items:flex-start;}
.justify-items-flex-end-lg{justify-items:flex-end;}
.justify-items-self-start-lg{justify-items:self-start;}
.justify-items-self-end-lg{justify-items:self-end;}
.justify-items-baseline-lg{justify-items:baseline;}

.justify-self-stretch-lg{justify-self:stretch;}
.justify-self-center-lg{justify-self:center;}
.justify-self-start-lg{justify-self:start;}
.justify-self-end-lg{justify-self:end;}
.justify-self-flex-start-lg{justify-self:flex-start;}
.justify-self-flex-end-lg{justify-self:flex-end;}
.justify-self-self-start-lg{justify-self:self-start;}
.justify-self-self-end-lg{justify-self:self-end;}
.justify-self-baseline-lg{justify-self:baseline;}

.place-content-stretch-lg{place-content:stretch;}
.place-content-center-lg{place-content:center;}
.place-content-start-lg{place-content:start;}
.place-content-end-lg{place-content:end;}
.place-content-flex-start-lg{place-content:flex-start;}
.place-content-flex-end-lg{place-content:flex-end;}
.place-content-between-lg{place-content:space-between;}
.place-content-around-lg{place-content:space-around;}
.place-content-evenly-lg{place-content:space-evenly;}

.place-items-stretch-lg{place-items:stretch;}
.place-items-center-lg{place-items:center;}
.place-items-start-lg{place-items:start;}
.place-items-end-lg{place-items:end;}
.place-items-self-start-lg{place-items:self-start;}
.place-items-self-end-lg{place-items:self-end;}
.place-items-flex-start-lg{place-items:flex-start;}
.place-items-flex-end-lg{place-items:flex-end;}
.place-items-baseline-lg{place-items:baseline;}

.place-self-stretch-lg{place-self:stretch;}
.place-self-center-lg{place-self:center;}
.place-self-start-lg{place-self:start;}
.place-self-end-lg{place-self:end;}
.place-self-flex-start-lg{place-self:flex-start;}
.place-self-flex-end-lg{place-self:flex-end;}
.place-self-self-start-lg{place-self:self-start;}
.place-self-self-end-lg{place-self:self-end;}
.place-self-baseline-lg{place-self:baseline;}



/*** Order ***/
.order-first-lg{order:-9999;}
.order-last-lg{order:9999;}
.order-none-lg{order:0;}
.order-1-lg{order:1;}
.order-2-lg{order:2;}
.order-3-lg{order:3;}
.order-4-lg{order:4;}
.order-5-lg{order:5;}
.order-6-lg{order:6;}


/*** Z-Index ***/
.z-auto-lg{z-index:auto;}
.z1-lg{z-index:1;}
.z0-lg{z-index:0;}
.z-1-lg{z-index:-1;}



/*** Margin ***/
.m-none-lg{margin:0}
.mb-none-lg{margin-block:0}
.mbs-none-lg{margin-block-start:0}
.mbe-none-lg{margin-block-end:0}
.mi-none-lg{margin-inline:0}
.mis-none-lg{margin-inline-start:0}
.mie-none-lg{margin-inline-end:0}
.m-auto-lg{margin:auto}
.mb-auto-lg{margin-block:auto}
.mbs-auto-lg{margin-block-start:auto}
.mbe-auto-lg{margin-block-end:auto}
.mi-auto-lg{margin-inline:auto}
.mis-auto-lg{margin-inline-start:auto}
.mie-auto-lg{margin-inline-end:auto}


/*** Padding ***/
.p-none-lg{padding:0}
.pb-none-lg{padding-block:0}
.pbs-none-lg{padding-block-start:0}
.pbe-none-lg{padding-block-end:0}
.pi-none-lg{padding-inline:0}
.pis-none-lg{padding-inline-start:0}
.pie-none-lg{padding-inline-end:0}


/*** Overflow ***/
.overflow-auto-lg{overflow:auto;}
.truncate-lg,
.overflow-hidden-lg{overflow:hidden;}
.overflow-visible-lg{overflow:visible;}
.overflow-scroll-lg{overflow:scroll;}
.overflow-x-auto-lg{overflow-x:auto;}
.overflow-y-auto-lg{overflow-y:auto;}
.overflow-x-scroll-lg{overflow-x:scroll;}
.overflow-x-hidden-lg{overflow-x:hidden;}
.overflow-y-scroll-lg{overflow-y:scroll;}
.overflow-y-hidden-lg{overflow-y:hidden;}
.scrolling-touch-lg{-webkit-overflow-scrolling:touch;}
.scrolling-auto-lg{-webkit-overflow-scrolling:auto;}


/*** Visibility ***/
.invisible-lg{visibility:hidden;}
.visible-lg{visibility:visible;}


/*** Object Fit ***/
.object-contain-lg{object-fit:contain;}
.object-cover-lg{object-fit:cover;}
.object-fill-lg{object-fit:fill;}
.object-none-lg{object-fit:none;}
.object-scale-down-lg{object-fit:scale-down;}


/*** Object Position ***/
.object-b-lg{object-position:bottom;}
.object-c-lg{object-position:center;}
.object-t-lg{object-position:top;}
.object-r-lg{object-position:right;}
.object-rt-lg{object-position:right top;}
.object-rb-lg{object-position:right bottom;}
.object-l-lg{object-position:left;}
.object-lt-lg{object-position:left top;}
.object-lb-lg{object-position:left bottom;}
  

/*** Outline ***/
.outline-none-lg{outline:0;}
  

/*** Opacity ***/
.opacity-0-lg{opacity:0;}
.opacity-25-lg{opacity:0.25;}
.opacity-50-lg{opacity:0.5;}
.opacity-75-lg{opacity:0.75;}
.opacity-100-lg{opacity:1.0;}


/*** Cursor ***/
.cursor-auto-lg{cursor:auto;}
.cursor-default-lg{cursor:default;}
.cursor-pointer-lg{cursor:pointer;}
.cursor-wait-lg{cursor:wait;}
.cursor-text-lg{cursor:text;}
.cursor-move-lg{cursor:move;}
.cursor-not-allowed-lg{cursor:not-allowed;}
.cursor-grab-lg{cursor:grab;}
.cursor-grabbing-lg{cursor:grabbing;}


/*** User Select ***/
.select-none-lg{user-select:none;}
.select-text-lg{user-select:text;}
.select-all-lg{user-select:all;}
.select-auto-lg{user-select:auto;}
  

/*** Debug ***/
.debug * { outline: 2px dotted var(--debug-color, rebeccapurple) }
.debug *:hover { border:2px solid var(--debug-color, rebeccapurple) }
  

}
