
/* ----- THEME ----- */

/* ----- THEME COLORS ----- */
:root {

  --grey-100: hsl(0, 0%, 86%);
  --grey-200: hsl(0, 0%, 76%);
  --grey-300: hsl(0, 0%, 66%);
  --grey-400: hsl(0, 0%, 56%);
  --grey-500: hsl(0, 0%, 46.7%);
  --grey-600: hsl(0, 0%, 36%);
  --grey-700: hsl(0, 0%, 26%);
  --grey-800: hsl(0, 0%, 16%);
  --grey-900: hsl(0, 0%, 6%);
    
  --blue-black: #222024;
  --smoke: #eee;
  --light-muted: #777;
  --dark-muted: #999;
  --alpha-grey: rgba(120, 120, 120, 0.5);
}

/* CUSTOM PROPERTIES */
:root {
  
}
  

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
 margin: 0;
 padding: 0;
 border: 0 solid transparent;
}
html:focus-within {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
audio,
canvas,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
}
code {
  font: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul[role='list'],
ol[role='list'] {
 list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* TYPEFACE */
html {font-size: 16px;}

/* FAMILY */
.font-sans{font-family: Authentic Sans, sans-serif;}

body {
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* BACKGROUND */
.bg-fixed{background-attachment:fixed;}
.bg-local{background-attachment:local;}
.bg-scroll{background-attachment:scroll;}
.bg-bottom{background-position:bottom;}
.bg-center{background-position:center;}
.bg-left{background-position:left;}
.bg-left-bottom{background-position:left bottom;}
.bg-left-top{background-position:left top;}
.bg-right{background-position:right;}
.bg-right-bottom{background-position:right bottom;}
.bg-right-top{background-position:right top;}
.bg-top{background-position:top;}
.bg-repeat{background-repeat:repeat;}
.bg-no-repeat{background-repeat:no-repeat;}
.bg-repeat-x{background-repeat:repeat-x;}
.bg-repeat-y{background-repeat:repeat-y;}
.bg-repeat-round{background-repeat:round;}
.bg-repeat-space{background-repeat:space;}
.bg-auto{background-size:auto;}
.bg-cover{background-size:cover;}
.bg-contain{background-size:contain;}
.bg-unset{background-color:unset;}
.bg-clip-border{background-clip:border-box;}
.bg-clip-content{background-clip:content-box;}
.bg-clip-padding{background-clip:padding-box;}
.bg-clip-text{
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
}


/* BORDER */
.border-solid{border-style:solid;}
.border-dashed{border-style:dashed;}
.border-dotted{border-style:dotted;}
.border-double{border-style:double;}
.border-none{border-style:none;}
.border-t-none{border-top:none;}
.border-r-none{border-right:none;}
.border-b-none{border-bottom:none;}
.border-l-none{border-left:none;}

.border0{border-width:0px;}
.border-t0{border-top-width:0px;}
.border-r0{border-right-width:0px;}
.border-b0{border-bottom-width:0px;}
.border-l0{border-left-width:0px;}

.border1{border-width:1px;}
.border-t1{border-top-width:1px;}
.border-r1{border-right-width:1px;}
.border-b1{border-bottom-width:1px;}
.border-l1{border-left-width:1px;}


/* RADIUS */
.radius-none{border-radius:0;}
.radius-100{border-radius:100%;}
.radius-pill{border-radius:9999px;}
.radius-t-none,
.radius-r-none,
.radius-tr-none{border-top-right-radius:0;}
.radius-b-none,
.radius-r-none,
.radius-br-none{border-bottom-right-radius:0;}
.radius-t-none,
.radius-l-none,
.radius-tl-none{border-top-left-radius:0;}
.radius-b-none,
.radius-l-none,
.radius-bl-none{border-bottom-left-radius:0;}


/* COLOR */
.text-current{color:currentColor}/* current color */
.text-transparent{color:transparent}/* transparent */

.border-current{border-color:currentColor}/* current color */
.border-transparent{border-color:transparent}/* transparent */

.background-current{background-color:currentColor}/* current color */
.background-transparent{background-color:transparent}/* transparent */


/* FILL */
.fill-none{fill:none}
.fill-current{fill:currentColor}


/* STROKE */
.stroke-none{stroke:none;}
.stroke-current{stroke:currentColor;}
  



/* SIZES */
.text6{font-size:3.815rem;}/* 61.035px */ 
.text5{font-size:3.052rem;}/* 48.828px */ 
.text4{font-size:2.441rem;}/* 39.063px */ 
.text3{font-size:1.953rem;}/* 31.25px */ 
.text2{font-size:1.563rem;}/* 25px */ 
.text1{font-size:1.25rem;}/* 20px */ 
.text0{font-size:1rem;}/* 16px */ 
.text-1{font-size:0.8rem;}/* 12.8px */ 
.text-2{font-size:0.64rem;}/* 10.24px */ 
.text-3{font-size:0.512rem;}/* 8.192px */ 
.text-4{font-size:0.41rem;}/* 6.554px */ 
.text-5{font-size:0.328rem;}/* 5.243px */ 
.text-6{font-size:0.262rem;}/* 4.194px */ 


/* Style */
.italic{font-style:italic;}
.not-italic{font-style:normal;}


/* LINE HEIGHT */
.leading5{line-height: 2;}
.leading4{line-height: 1.625;}
.leading3{line-height: 1.5;}
.leading2{line-height: 1.375;}
.leading1{line-height: 1.25;}
.leading0,
.leading-none{line-height:1;}


/* TRACKING */
.tracking3{letter-spacing: 0.1em;}
.tracking2{letter-spacing: 0.05em;}
.tracking1{letter-spacing: 0.025em;}
.tracking0{letter-spacing: 0;}
.tracking-1{letter-spacing: -0.025em;}
.tracking-2{letter-spacing: -0.05em;}
  

/* WEIGHTS */
.font-hairline{font-weight:100;}
.font-thin{font-weight:200;}
.font-light{font-weight:300;}
.font-normal{font-weight:400;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.font-extrabold{font-weight:800;}
.font-black{font-weight:900;}


/* TEXT TRANSFORM */
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.normal-case{text-transform:none;}
  

/* ALIGN */
.text-inherit{text-align:inherit;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
  

/* DECORATION */
.no-underline{text-decoration:none;}
.underline{text-decoration:underline;}
.line-through{text-decoration:line-through;}
  

/* LIST */
.list-none{list-style:none;}
.list-disc{list-style:disc;}
.list-decimal{list-style:decimal;}


/* WHITESPACE */
.whitespace-normal{white-space:normal;}
.truncate,
.whitespace-no-wrap{white-space:nowrap;}
.whitespace-pre{white-space:pre;}
.whitespace-pre-line{white-space:pre-line;}
.whitespace-pre-wrap{white-space:pre-wrap;}
  

/* WORDBREAK */
.break-normal{word-break:normal}
.break-normal,
.break-word{overflow-wrap:normal}
.break-all{word-break:break-all}
.break-keep{word-break:keep-all}
.truncate,
.ellipsis{text-overflow:ellipsis}
  
  

/* -----  LAYOUT ----- */


/* POSITION */
.sticky{position:sticky;}
.static{position:static;}
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}


 /* POSITIONING */
 .trbl,
.top0{top:0;}
 .trbl,
.right0{right:0;}
 .trbl,
.bottom0{bottom:0;}
 .trbl,
.left0{left:0;}
  

/* DISPLAY */
.hidden{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.grid{display:grid;}
.inline-grid{display:inline-grid;}


/* WIDTH */
.w-0{width:0}
.w-full{width:100%}
.w-screen{width:100vw}
.min-w-0{min-width:0}
.min-w-full{min-width:100%}
.max-width-none{max-width:none}
.max-w-full{max-width:100%}


/* HEIGHT */
.h-0{height:0;}
.h-full{height:100%;}
.h-screen{height:100vh;}
.min-h-0{min-height:0;}
.min-h-full{min-height:100%;}
.min-h-screen{min-height:100vh;}
.max-h-full{max-height:100%;}
.max-h-screen{max-height:100vh;}


/* FLEX */
.flex-1{flex: 1 1 0%;}
.flex-auto{flex: 1 1 auto;}
.flex-initial{flex: 0 1 auto;}
.flex-none{flex:none;}
.flex-row{flex-direction:row;}
.flex-row-reverse{flex-direction:row-reverse;}
.flex-col{flex-direction:column;}
.flex-col-reverse{flex-direction:column-reverse;}
.items-stretch{align-items:stretch;}
.items-start{align-items:flex-start;}
.items-end{align-items:flex-end;}
.items-center{align-items:center;}
.content-start{align-content:start;}
.content-center{align-content:center;}
.content-end{align-content:end;}
.content-between{align-content:space-between;}
.content-around{align-content:space-around;}
.self-auto{align-self:auto;}
.self-start{align-self:flex-start;}
.self-end{align-self:flex-end;}
.self-center{align-self:center;}
.self-stretch{align-self:stretch;}
.justify-start{justify-content:flex-start;}
.justify-end{justify-content: flex-end;}
.justify-around{justify-content:space-around;}
.justify-between{justify-content:space-between;}
.justify-center{justify-content:center;}
.flex-grow{flex-grow:1;}
.flex-grow-0{flex-grow:0;}
.flex-shrink{flex-shrink:1;}
.flex-shrink-0{flex-shrink:0;}
.flex-wrap{flex-wrap:wrap;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}
.flex-no-wrap{flex-wrap:nowrap;}
.order-first{order:-9999;}
.order-last{order:9999;}
.order-none{order:0;}
.order-1{order:1;}
.order-2{order:2;}
.order-3{order:3;}
.order-4{order:4;}
.order-5{order:5;}
.order-6{order:6;}


/* GRID */
.flow-row{grid-auto-flow:row;}
.flow-col{grid-auto-flow:column;}
.flow-row-dense{grid-auto-flow:row dense;}
.flow-column-dense{grid-auto-flow:column dense;}
.row-auto{grid-row:auto;}
.col-auto{grid-column:auto;}
.col-end-auto{grid-column-end: auto;}
.rows-end-auto{grid-row-end:auto;}
.rows-none{grid-template-rows:none;}
.col-1{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1{grid-column: span 1 / span 1;}
.col-start-1{grid-column-start: 1;}
.row-start-1{grid-row-start: 1;}
.col-end-1{grid-column-end: 1;}
.row-end-1{grid-row-end: 1;}
.row-1{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2{grid-column: span 2 / span 2;}
.col-start-2{grid-column-start: 2;}
.row-start-2{grid-row-start: 2;}
.col-end-2{grid-column-end: 2;}
.row-end-2{grid-row-end: 2;}
.row-2{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3{grid-column: span 3 / span 3;}
.col-start-3{grid-column-start: 3;}
.row-start-3{grid-row-start: 3;}
.col-end-3{grid-column-end: 3;}
.row-end-3{grid-row-end: 3;}
.row-3{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4{grid-column: span 4 / span 4;}
.col-start-4{grid-column-start: 4;}
.row-start-4{grid-row-start: 4;}
.col-end-4{grid-column-end: 4;}
.row-end-4{grid-row-end: 4;}
.row-4{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5{grid-column: span 5 / span 5;}
.col-start-5{grid-column-start: 5;}
.row-start-5{grid-row-start: 5;}
.col-end-5{grid-column-end: 5;}
.row-end-5{grid-row-end: 5;}
.row-5{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6{grid-column: span 6 / span 6;}
.col-start-6{grid-column-start: 6;}
.row-start-6{grid-row-start: 6;}
.col-end-6{grid-column-end: 6;}
.row-end-6{grid-row-end: 6;}
.row-6{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7{grid-column: span 7 / span 7;}
.col-start-7{grid-column-start: 7;}
.row-start-7{grid-row-start: 7;}
.col-end-7{grid-column-end: 7;}
.row-end-7{grid-row-end: 7;}
.row-7{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8{grid-column: span 8 / span 8;}
.col-start-8{grid-column-start: 8;}
.row-start-8{grid-row-start: 8;}
.col-end-8{grid-column-end: 8;}
.row-end-8{grid-row-end: 8;}
.row-8{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9{grid-column: span 9 / span 9;}
.col-start-9{grid-column-start: 9;}
.row-start-9{grid-row-start: 9;}
.col-end-9{grid-column-end: 9;}
.row-end-9{grid-row-end: 9;}
.row-9{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10{grid-column: span 10 / span 10;}
.col-start-10{grid-column-start: 10;}
.row-start-10{grid-row-start: 10;}
.col-end-10{grid-column-end: 10;}
.row-end-10{grid-row-end: 10;}
.row-10{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11{grid-column: span 11 / span 11;}
.col-start-11{grid-column-start: 11;}
.row-start-11{grid-row-start: 11;}
.col-end-11{grid-column-end: 11;}
.row-end-11{grid-row-end: 11;}
.row-11{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12{grid-column: span 12 / span 12;}
.col-start-12{grid-column-start: 12;}
.row-start-12{grid-row-start: 12;}
.col-end-12{grid-column-end: 12;}
.row-end-12{grid-row-end: 12;}
.row-12{grid-template-rows: repeat(12, minmax(0, 1fr));}
.gap5{gap:3.815rem;}
.gap4{gap:3.052rem;}
.gap3{gap:2.441rem;}
.gap2{gap:1.953rem;}
.gap1{gap:1.563rem;}
.gap0{gap:1.25rem;}
.gap-1{gap:1rem;}
.gap-2{gap:0.8rem;}
.gap-3{gap:0.64rem;}
.gap-4{gap:0.512rem;}
.gap-5{gap:0.41rem;}
.gap-6{gap:0.328rem;}
.gap-7{gap:0.262rem;}


/* Z-INDEX */
.z-auto{z-index:auto;}
.z1{z-index:1;}
.z0{z-index:0;}
.z-1{z-index:-1;}



/* MARGIN */
.m-none{margin:0}
.my-none,
.mt-none{margin-top:0}
.mx-none,
.mr-none{margin-right:0}
.my-none,
.mb-none{margin-bottom:0}
.mx-none,
.ml-none{margin-left:0}
.m-auto{margin-right:auto;margin-left:auto;}
.mr-auto{margin-right:auto}
.ml-auto{margin-left:auto}
.m6{margin:3.815rem}
.mt6{margin-top:3.815rem}
.mr6{margin-right:3.815rem}
.mb6{margin-bottom:3.815rem}
.ml6{margin-left:3.815rem}
.m5{margin:3.052rem}
.mt5{margin-top:3.052rem}
.mr5{margin-right:3.052rem}
.mb5{margin-bottom:3.052rem}
.ml5{margin-left:3.052rem}
.m4{margin:2.441rem}
.mt4{margin-top:2.441rem}
.mr4{margin-right:2.441rem}
.mb4{margin-bottom:2.441rem}
.ml4{margin-left:2.441rem}
.m3{margin:1.953rem}
.mt3{margin-top:1.953rem}
.mr3{margin-right:1.953rem}
.mb3{margin-bottom:1.953rem}
.ml3{margin-left:1.953rem}
.m2{margin:1.563rem}
.mt2{margin-top:1.563rem}
.mr2{margin-right:1.563rem}
.mb2{margin-bottom:1.563rem}
.ml2{margin-left:1.563rem}
.m1{margin:1.25rem}
.mt1{margin-top:1.25rem}
.mr1{margin-right:1.25rem}
.mb1{margin-bottom:1.25rem}
.ml1{margin-left:1.25rem}
.m0{margin:1rem}
.mt0{margin-top:1rem}
.mr0{margin-right:1rem}
.mb0{margin-bottom:1rem}
.ml0{margin-left:1rem}
.m-1{margin:0.8rem}
.mt-1{margin-top:0.8rem}
.mr-1{margin-right:0.8rem}
.mb-1{margin-bottom:0.8rem}
.ml-1{margin-left:0.8rem}
.m-2{margin:0.64rem}
.mt-2{margin-top:0.64rem}
.mr-2{margin-right:0.64rem}
.mb-2{margin-bottom:0.64rem}
.ml-2{margin-left:0.64rem}
.m-3{margin:0.512rem}
.mt-3{margin-top:0.512rem}
.mr-3{margin-right:0.512rem}
.mb-3{margin-bottom:0.512rem}
.ml-3{margin-left:0.512rem}
.m-4{margin:0.41rem}
.mt-4{margin-top:0.41rem}
.mr-4{margin-right:0.41rem}
.mb-4{margin-bottom:0.41rem}
.ml-4{margin-left:0.41rem}
.m-5{margin:0.328rem}
.mt-5{margin-top:0.328rem}
.mr-5{margin-right:0.328rem}
.mb-5{margin-bottom:0.328rem}
.ml-5{margin-left:0.328rem}
.m-6{margin:0.262rem}
.mt-6{margin-top:0.262rem}
.mr-6{margin-right:0.262rem}
.mb-6{margin-bottom:0.262rem}
.ml-6{margin-left:0.262rem}


/* PADDING */
.p-none{padding:0;}
.py-none,
.pt-none{padding-top:0;}
.px-none,
.pr-none{padding-right:0;}
.py-none,
.pb-none{padding-bottom:0;}
.px-none,
.pl-none{padding-left:0;}
.p6{padding:3.815rem;}
.pt6{padding-top:3.815rem;}
.pr6{padding-right:3.815rem;}
.pb6{padding-bottom:3.815rem;}
.pl6{padding-left:3.815rem;}
.p5{padding:3.052rem;}
.pt5{padding-top:3.052rem;}
.pr5{padding-right:3.052rem;}
.pb5{padding-bottom:3.052rem;}
.pl5{padding-left:3.052rem;}
.p4{padding:2.441rem;}
.pt4{padding-top:2.441rem;}
.pr4{padding-right:2.441rem;}
.pb4{padding-bottom:2.441rem;}
.pl4{padding-left:2.441rem;}
.p3{padding:1.953rem;}
.pt3{padding-top:1.953rem;}
.pr3{padding-right:1.953rem;}
.pb3{padding-bottom:1.953rem;}
.pl3{padding-left:1.953rem;}
.p2{padding:1.563rem;}
.pt2{padding-top:1.563rem;}
.pr2{padding-right:1.563rem;}
.pb2{padding-bottom:1.563rem;}
.pl2{padding-left:1.563rem;}
.p1{padding:1.25rem;}
.pt1{padding-top:1.25rem;}
.pr1{padding-right:1.25rem;}
.pb1{padding-bottom:1.25rem;}
.pl1{padding-left:1.25rem;}
.p0{padding:1rem;}
.pt0{padding-top:1rem;}
.pr0{padding-right:1rem;}
.pb0{padding-bottom:1rem;}
.pl0{padding-left:1rem;}
.p-1{padding:0.8rem;}
.pt-1{padding-top:0.8rem;}
.pr-1{padding-right:0.8rem;}
.pb-1{padding-bottom:0.8rem;}
.pl-1{padding-left:0.8rem;}
.p-2{padding:0.64rem;}
.pt-2{padding-top:0.64rem;}
.pr-2{padding-right:0.64rem;}
.pb-2{padding-bottom:0.64rem;}
.pl-2{padding-left:0.64rem;}
.p-3{padding:0.512rem;}
.pt-3{padding-top:0.512rem;}
.pr-3{padding-right:0.512rem;}
.pb-3{padding-bottom:0.512rem;}
.pl-3{padding-left:0.512rem;}
.p-4{padding:0.41rem;}
.pt-4{padding-top:0.41rem;}
.pr-4{padding-right:0.41rem;}
.pb-4{padding-bottom:0.41rem;}
.pl-4{padding-left:0.41rem;}
.p-5{padding:0.328rem;}
.pt-5{padding-top:0.328rem;}
.pr-5{padding-right:0.328rem;}
.pb-5{padding-bottom:0.328rem;}
.pl-5{padding-left:0.328rem;}
.p-6{padding:0.262rem;}
.pt-6{padding-top:0.262rem;}
.pr-6{padding-right:0.262rem;}
.pb-6{padding-bottom:0.262rem;}
.pl-6{padding-left:0.262rem;}


/* OVERFLOW */
.overflow-auto{overflow:auto;}
.truncate,
.overflow-hidden{overflow:hidden;}
.overflow-visible{overflow:visible;}
.overflow-scroll{overflow:scroll;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-scroll{overflow-y:scroll;}
.overflow-y-hidden{overflow-y:hidden;}
.scrolling-touch{-webkit-overflow-scrolling:touch;}
.scrolling-auto{-webkit-overflow-scrolling:auto;}


/* VISIBILITY */
.invisible{visibility:hidden;}
.visible{visibility:visible;}


/* OBJECT FIT */
.object-contain{object-fit:contain;}
.object-cover{object-fit:cover;}
.object-fill{object-fit:fill;}
.object-none{object-fit:none;}
.object-scale-down{object-fit:scale-down;}


/* OBJECT POSITION */
.object-b{object-position:bottom;}
.object-c{object-position:center;}
.object-t{object-position:top;}
.object-r{object-position:right;}
.object-rt{object-position:right top;}
.object-rb{object-position:right bottom;}
.object-l{object-position:left;}
.object-lt{object-position:left top;}
.object-lb{object-position:left bottom;}
  

/* OUTLINE */
.outline-none{outline:0;}
  

/* OPACITY */
.opacity-0{opacity:0;}
.opacity-25{opacity:0.25;}
.opacity-50{opacity:0.5;}
.opacity-75{opacity:0.75;}
.opacity-100{opacity:1.0;}


/* CURSOR */
.cursor-auto{cursor:auto;}
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-wait{cursor:wait;}
.cursor-text{cursor:text;}
.cursor-move{cursor:move;}
.cursor-not-allowed{cursor:not-allowed;}
.cursor-grab{cursor:grab;}
.cursor-grabbing{cursor:grabbing;}


/* USER SELECT */
.select-none{user-select:none;}
.select-text{user-select:text;}
.select-all{user-select:all;}
.select-auto{user-select:auto;}
  

@media only screen and (min-width:48em) {
  


/* SIZES */
.text6-md{font-size:3.815rem;}/* 61.035px */ 
.text5-md{font-size:3.052rem;}/* 48.828px */ 
.text4-md{font-size:2.441rem;}/* 39.063px */ 
.text3-md{font-size:1.953rem;}/* 31.25px */ 
.text2-md{font-size:1.563rem;}/* 25px */ 
.text1-md{font-size:1.25rem;}/* 20px */ 
.text0-md{font-size:1rem;}/* 16px */ 
.text-1-md{font-size:0.8rem;}/* 12.8px */ 
.text-2-md{font-size:0.64rem;}/* 10.24px */ 
.text-3-md{font-size:0.512rem;}/* 8.192px */ 
.text-4-md{font-size:0.41rem;}/* 6.554px */ 
.text-5-md{font-size:0.328rem;}/* 5.243px */ 
.text-6-md{font-size:0.262rem;}/* 4.194px */ 


/* Style */
.italic-md{font-style:italic;}
.not-italic-md{font-style:normal;}


/* LINE HEIGHT */
.leading5-md{line-height: 2;}
.leading4-md{line-height: 1.625;}
.leading3-md{line-height: 1.5;}
.leading2-md{line-height: 1.375;}
.leading1-md{line-height: 1.25;}
.leading0-md,
.leading-none-md{line-height:1;}


/* TRACKING */
.tracking3-md{letter-spacing: 0.1em;}
.tracking2-md{letter-spacing: 0.05em;}
.tracking1-md{letter-spacing: 0.025em;}
.tracking0-md{letter-spacing: 0;}
.tracking-1-md{letter-spacing: -0.025em;}
.tracking-2-md{letter-spacing: -0.05em;}
  

/* WEIGHTS */
.font-hairline-md{font-weight:100;}
.font-thin-md{font-weight:200;}
.font-light-md{font-weight:300;}
.font-normal-md{font-weight:400;}
.font-medium-md{font-weight:500;}
.font-semibold-md{font-weight:600;}
.font-bold-md{font-weight:700;}
.font-extrabold-md{font-weight:800;}
.font-black-md{font-weight:900;}


/* TEXT TRANSFORM */
.uppercase-md{text-transform:uppercase;}
.lowercase-md{text-transform:lowercase;}
.capitalize-md{text-transform:capitalize;}
.normal-case-md{text-transform:none;}
  

/* ALIGN */
.text-inherit-md{text-align:inherit;}
.text-center-md{text-align:center;}
.text-left-md{text-align:left;}
.text-right-md{text-align:right;}
  

/* DECORATION */
.no-underline-md{text-decoration:none;}
.underline-md{text-decoration:underline;}
.line-through-md{text-decoration:line-through;}
  

/* LIST */
.list-none-md{list-style:none;}
.list-disc-md{list-style:disc;}
.list-decimal-md{list-style:decimal;}


/* WHITESPACE */
.whitespace-normal-md{white-space:normal;}
.truncate-md,
.whitespace-no-wrap-md{white-space:nowrap;}
.whitespace-pre-md{white-space:pre;}
.whitespace-pre-line-md{white-space:pre-line;}
.whitespace-pre-wrap-md{white-space:pre-wrap;}
  

/* WORDBREAK */
.break-normal-md{word-break:normal}
.break-normal-md,
.break-word-md{overflow-wrap:normal}
.break-all-md{word-break:break-all}
.break-keep-md{word-break:keep-all}
.truncate-md,
.ellipsis-md{text-overflow:ellipsis}
  
  

/* -----  LAYOUT ----- */


/* POSITION */
.sticky-md{position:sticky;}
.static-md{position:static;}
.absolute-md{position:absolute;}
.relative-md{position:relative;}
.fixed-md{position:fixed;}


 /* POSITIONING */
 .trbl-md,
.top0-md{top:0;}
 .trbl-md,
.right0-md{right:0;}
 .trbl-md,
.bottom0-md{bottom:0;}
 .trbl-md,
.left0-md{left:0;}
  

/* DISPLAY */
.hidden-md{display:none;}
.block-md{display:block;}
.inline-md{display:inline;}
.inline-block-md{display:inline-block;}
.flex-md{display:flex;}
.inline-flex-md{display:inline-flex;}
.grid-md{display:grid;}
.inline-grid-md{display:inline-grid;}


/* WIDTH */
.w-0-md{width:0}
.w-full-md{width:100%}
.w-screen-md{width:100vw}
.min-w-0-md{min-width:0}
.min-w-full-md{min-width:100%}
.max-width-none-md{max-width:none}
.max-w-full-md{max-width:100%}


/* HEIGHT */
.h-0-md{height:0;}
.h-full-md{height:100%;}
.h-screen-md{height:100vh;}
.min-h-0-md{min-height:0;}
.min-h-full-md{min-height:100%;}
.min-h-screen-md{min-height:100vh;}
.max-h-full-md{max-height:100%;}
.max-h-screen-md{max-height:100vh;}


/* FLEX */
.flex-1-md{flex: 1 1 0%;}
.flex-auto-md{flex: 1 1 auto;}
.flex-initial-md{flex: 0 1 auto;}
.flex-none-md{flex:none;}
.flex-row-md{flex-direction:row;}
.flex-row-reverse-md{flex-direction:row-reverse;}
.flex-col-md{flex-direction:column;}
.flex-col-reverse-md{flex-direction:column-reverse;}
.items-stretch-md{align-items:stretch;}
.items-start-md{align-items:flex-start;}
.items-end-md{align-items:flex-end;}
.items-center-md{align-items:center;}
.content-start-md{align-content:start;}
.content-center-md{align-content:center;}
.content-end-md{align-content:end;}
.content-between-md{align-content:space-between;}
.content-around-md{align-content:space-around;}
.self-auto-md{align-self:auto;}
.self-start-md{align-self:flex-start;}
.self-end-md{align-self:flex-end;}
.self-center-md{align-self:center;}
.self-stretch-md{align-self:stretch;}
.justify-start-md{justify-content:flex-start;}
.justify-end-md{justify-content: flex-end;}
.justify-around-md{justify-content:space-around;}
.justify-between-md{justify-content:space-between;}
.justify-center-md{justify-content:center;}
.flex-grow-md{flex-grow:1;}
.flex-grow-0-md{flex-grow:0;}
.flex-shrink-md{flex-shrink:1;}
.flex-shrink-0-md{flex-shrink:0;}
.flex-wrap-md{flex-wrap:wrap;}
.flex-wrap-reverse-md{flex-wrap:wrap-reverse;}
.flex-no-wrap-md{flex-wrap:nowrap;}
.order-first-md{order:-9999;}
.order-last-md{order:9999;}
.order-none-md{order:0;}
.order-1-md{order:1;}
.order-2-md{order:2;}
.order-3-md{order:3;}
.order-4-md{order:4;}
.order-5-md{order:5;}
.order-6-md{order:6;}


/* GRID */
.flow-row-md{grid-auto-flow:row;}
.flow-col-md{grid-auto-flow:column;}
.flow-row-dense-md{grid-auto-flow:row dense;}
.flow-column-dense-md{grid-auto-flow:column dense;}
.row-auto-md{grid-row:auto;}
.col-auto-md{grid-column:auto;}
.col-end-auto-md{grid-column-end: auto;}
.rows-end-auto-md{grid-row-end:auto;}
.rows-none-md{grid-template-rows:none;}
.col-1-md{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1-md{grid-column: span 1 / span 1;}
.col-start-1-md{grid-column-start: 1;}
.row-start-1-md{grid-row-start: 1;}
.col-end-1-md{grid-column-end: 1;}
.row-end-1-md{grid-row-end: 1;}
.row-1-md{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2-md{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2-md{grid-column: span 2 / span 2;}
.col-start-2-md{grid-column-start: 2;}
.row-start-2-md{grid-row-start: 2;}
.col-end-2-md{grid-column-end: 2;}
.row-end-2-md{grid-row-end: 2;}
.row-2-md{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3-md{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3-md{grid-column: span 3 / span 3;}
.col-start-3-md{grid-column-start: 3;}
.row-start-3-md{grid-row-start: 3;}
.col-end-3-md{grid-column-end: 3;}
.row-end-3-md{grid-row-end: 3;}
.row-3-md{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4-md{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4-md{grid-column: span 4 / span 4;}
.col-start-4-md{grid-column-start: 4;}
.row-start-4-md{grid-row-start: 4;}
.col-end-4-md{grid-column-end: 4;}
.row-end-4-md{grid-row-end: 4;}
.row-4-md{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5-md{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5-md{grid-column: span 5 / span 5;}
.col-start-5-md{grid-column-start: 5;}
.row-start-5-md{grid-row-start: 5;}
.col-end-5-md{grid-column-end: 5;}
.row-end-5-md{grid-row-end: 5;}
.row-5-md{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6-md{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6-md{grid-column: span 6 / span 6;}
.col-start-6-md{grid-column-start: 6;}
.row-start-6-md{grid-row-start: 6;}
.col-end-6-md{grid-column-end: 6;}
.row-end-6-md{grid-row-end: 6;}
.row-6-md{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7-md{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7-md{grid-column: span 7 / span 7;}
.col-start-7-md{grid-column-start: 7;}
.row-start-7-md{grid-row-start: 7;}
.col-end-7-md{grid-column-end: 7;}
.row-end-7-md{grid-row-end: 7;}
.row-7-md{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8-md{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8-md{grid-column: span 8 / span 8;}
.col-start-8-md{grid-column-start: 8;}
.row-start-8-md{grid-row-start: 8;}
.col-end-8-md{grid-column-end: 8;}
.row-end-8-md{grid-row-end: 8;}
.row-8-md{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9-md{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9-md{grid-column: span 9 / span 9;}
.col-start-9-md{grid-column-start: 9;}
.row-start-9-md{grid-row-start: 9;}
.col-end-9-md{grid-column-end: 9;}
.row-end-9-md{grid-row-end: 9;}
.row-9-md{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10-md{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10-md{grid-column: span 10 / span 10;}
.col-start-10-md{grid-column-start: 10;}
.row-start-10-md{grid-row-start: 10;}
.col-end-10-md{grid-column-end: 10;}
.row-end-10-md{grid-row-end: 10;}
.row-10-md{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11-md{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11-md{grid-column: span 11 / span 11;}
.col-start-11-md{grid-column-start: 11;}
.row-start-11-md{grid-row-start: 11;}
.col-end-11-md{grid-column-end: 11;}
.row-end-11-md{grid-row-end: 11;}
.row-11-md{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12-md{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12-md{grid-column: span 12 / span 12;}
.col-start-12-md{grid-column-start: 12;}
.row-start-12-md{grid-row-start: 12;}
.col-end-12-md{grid-column-end: 12;}
.row-end-12-md{grid-row-end: 12;}
.row-12-md{grid-template-rows: repeat(12, minmax(0, 1fr));}
.gap5-md{gap:3.815rem;}
.gap4-md{gap:3.052rem;}
.gap3-md{gap:2.441rem;}
.gap2-md{gap:1.953rem;}
.gap1-md{gap:1.563rem;}
.gap0-md{gap:1.25rem;}
.gap-1-md{gap:1rem;}
.gap-2-md{gap:0.8rem;}
.gap-3-md{gap:0.64rem;}
.gap-4-md{gap:0.512rem;}
.gap-5-md{gap:0.41rem;}
.gap-6-md{gap:0.328rem;}
.gap-7-md{gap:0.262rem;}


/* Z-INDEX */
.z-auto-md{z-index:auto;}
.z1-md{z-index:1;}
.z0-md{z-index:0;}
.z-1-md{z-index:-1;}



/* MARGIN */
.m-none-md{margin:0}
.my-none-md,
.mt-none-md{margin-top:0}
.mx-none-md,
.mr-none-md{margin-right:0}
.my-none-md,
.mb-none-md{margin-bottom:0}
.mx-none-md,
.ml-none-md{margin-left:0}
.m-auto-md{margin-right:auto;margin-left:auto;}
.mr-auto-md{margin-right:auto}
.ml-auto-md{margin-left:auto}
.m6-md{margin:3.815rem}
.mt6-md{margin-top:3.815rem}
.mr6-md{margin-right:3.815rem}
.mb6-md{margin-bottom:3.815rem}
.ml6-md{margin-left:3.815rem}
.m5-md{margin:3.052rem}
.mt5-md{margin-top:3.052rem}
.mr5-md{margin-right:3.052rem}
.mb5-md{margin-bottom:3.052rem}
.ml5-md{margin-left:3.052rem}
.m4-md{margin:2.441rem}
.mt4-md{margin-top:2.441rem}
.mr4-md{margin-right:2.441rem}
.mb4-md{margin-bottom:2.441rem}
.ml4-md{margin-left:2.441rem}
.m3-md{margin:1.953rem}
.mt3-md{margin-top:1.953rem}
.mr3-md{margin-right:1.953rem}
.mb3-md{margin-bottom:1.953rem}
.ml3-md{margin-left:1.953rem}
.m2-md{margin:1.563rem}
.mt2-md{margin-top:1.563rem}
.mr2-md{margin-right:1.563rem}
.mb2-md{margin-bottom:1.563rem}
.ml2-md{margin-left:1.563rem}
.m1-md{margin:1.25rem}
.mt1-md{margin-top:1.25rem}
.mr1-md{margin-right:1.25rem}
.mb1-md{margin-bottom:1.25rem}
.ml1-md{margin-left:1.25rem}
.m0-md{margin:1rem}
.mt0-md{margin-top:1rem}
.mr0-md{margin-right:1rem}
.mb0-md{margin-bottom:1rem}
.ml0-md{margin-left:1rem}
.m-1-md{margin:0.8rem}
.mt-1-md{margin-top:0.8rem}
.mr-1-md{margin-right:0.8rem}
.mb-1-md{margin-bottom:0.8rem}
.ml-1-md{margin-left:0.8rem}
.m-2-md{margin:0.64rem}
.mt-2-md{margin-top:0.64rem}
.mr-2-md{margin-right:0.64rem}
.mb-2-md{margin-bottom:0.64rem}
.ml-2-md{margin-left:0.64rem}
.m-3-md{margin:0.512rem}
.mt-3-md{margin-top:0.512rem}
.mr-3-md{margin-right:0.512rem}
.mb-3-md{margin-bottom:0.512rem}
.ml-3-md{margin-left:0.512rem}
.m-4-md{margin:0.41rem}
.mt-4-md{margin-top:0.41rem}
.mr-4-md{margin-right:0.41rem}
.mb-4-md{margin-bottom:0.41rem}
.ml-4-md{margin-left:0.41rem}
.m-5-md{margin:0.328rem}
.mt-5-md{margin-top:0.328rem}
.mr-5-md{margin-right:0.328rem}
.mb-5-md{margin-bottom:0.328rem}
.ml-5-md{margin-left:0.328rem}
.m-6-md{margin:0.262rem}
.mt-6-md{margin-top:0.262rem}
.mr-6-md{margin-right:0.262rem}
.mb-6-md{margin-bottom:0.262rem}
.ml-6-md{margin-left:0.262rem}


/* PADDING */
.p-none-md{padding:0;}
.py-none-md,
.pt-none-md{padding-top:0;}
.px-none-md,
.pr-none-md{padding-right:0;}
.py-none-md,
.pb-none-md{padding-bottom:0;}
.px-none-md,
.pl-none-md{padding-left:0;}
.p6-md{padding:3.815rem;}
.pt6-md{padding-top:3.815rem;}
.pr6-md{padding-right:3.815rem;}
.pb6-md{padding-bottom:3.815rem;}
.pl6-md{padding-left:3.815rem;}
.p5-md{padding:3.052rem;}
.pt5-md{padding-top:3.052rem;}
.pr5-md{padding-right:3.052rem;}
.pb5-md{padding-bottom:3.052rem;}
.pl5-md{padding-left:3.052rem;}
.p4-md{padding:2.441rem;}
.pt4-md{padding-top:2.441rem;}
.pr4-md{padding-right:2.441rem;}
.pb4-md{padding-bottom:2.441rem;}
.pl4-md{padding-left:2.441rem;}
.p3-md{padding:1.953rem;}
.pt3-md{padding-top:1.953rem;}
.pr3-md{padding-right:1.953rem;}
.pb3-md{padding-bottom:1.953rem;}
.pl3-md{padding-left:1.953rem;}
.p2-md{padding:1.563rem;}
.pt2-md{padding-top:1.563rem;}
.pr2-md{padding-right:1.563rem;}
.pb2-md{padding-bottom:1.563rem;}
.pl2-md{padding-left:1.563rem;}
.p1-md{padding:1.25rem;}
.pt1-md{padding-top:1.25rem;}
.pr1-md{padding-right:1.25rem;}
.pb1-md{padding-bottom:1.25rem;}
.pl1-md{padding-left:1.25rem;}
.p0-md{padding:1rem;}
.pt0-md{padding-top:1rem;}
.pr0-md{padding-right:1rem;}
.pb0-md{padding-bottom:1rem;}
.pl0-md{padding-left:1rem;}
.p-1-md{padding:0.8rem;}
.pt-1-md{padding-top:0.8rem;}
.pr-1-md{padding-right:0.8rem;}
.pb-1-md{padding-bottom:0.8rem;}
.pl-1-md{padding-left:0.8rem;}
.p-2-md{padding:0.64rem;}
.pt-2-md{padding-top:0.64rem;}
.pr-2-md{padding-right:0.64rem;}
.pb-2-md{padding-bottom:0.64rem;}
.pl-2-md{padding-left:0.64rem;}
.p-3-md{padding:0.512rem;}
.pt-3-md{padding-top:0.512rem;}
.pr-3-md{padding-right:0.512rem;}
.pb-3-md{padding-bottom:0.512rem;}
.pl-3-md{padding-left:0.512rem;}
.p-4-md{padding:0.41rem;}
.pt-4-md{padding-top:0.41rem;}
.pr-4-md{padding-right:0.41rem;}
.pb-4-md{padding-bottom:0.41rem;}
.pl-4-md{padding-left:0.41rem;}
.p-5-md{padding:0.328rem;}
.pt-5-md{padding-top:0.328rem;}
.pr-5-md{padding-right:0.328rem;}
.pb-5-md{padding-bottom:0.328rem;}
.pl-5-md{padding-left:0.328rem;}
.p-6-md{padding:0.262rem;}
.pt-6-md{padding-top:0.262rem;}
.pr-6-md{padding-right:0.262rem;}
.pb-6-md{padding-bottom:0.262rem;}
.pl-6-md{padding-left:0.262rem;}


/* OVERFLOW */
.overflow-auto-md{overflow:auto;}
.truncate-md,
.overflow-hidden-md{overflow:hidden;}
.overflow-visible-md{overflow:visible;}
.overflow-scroll-md{overflow:scroll;}
.overflow-x-auto-md{overflow-x:auto;}
.overflow-y-auto-md{overflow-y:auto;}
.overflow-x-scroll-md{overflow-x:scroll;}
.overflow-x-hidden-md{overflow-x:hidden;}
.overflow-y-scroll-md{overflow-y:scroll;}
.overflow-y-hidden-md{overflow-y:hidden;}
.scrolling-touch-md{-webkit-overflow-scrolling:touch;}
.scrolling-auto-md{-webkit-overflow-scrolling:auto;}


/* VISIBILITY */
.invisible-md{visibility:hidden;}
.visible-md{visibility:visible;}


/* OBJECT FIT */
.object-contain-md{object-fit:contain;}
.object-cover-md{object-fit:cover;}
.object-fill-md{object-fit:fill;}
.object-none-md{object-fit:none;}
.object-scale-down-md{object-fit:scale-down;}


/* OBJECT POSITION */
.object-b-md{object-position:bottom;}
.object-c-md{object-position:center;}
.object-t-md{object-position:top;}
.object-r-md{object-position:right;}
.object-rt-md{object-position:right top;}
.object-rb-md{object-position:right bottom;}
.object-l-md{object-position:left;}
.object-lt-md{object-position:left top;}
.object-lb-md{object-position:left bottom;}
  

/* OUTLINE */
.outline-none-md{outline:0;}
  

/* OPACITY */
.opacity-0-md{opacity:0;}
.opacity-25-md{opacity:0.25;}
.opacity-50-md{opacity:0.5;}
.opacity-75-md{opacity:0.75;}
.opacity-100-md{opacity:1.0;}


/* CURSOR */
.cursor-auto-md{cursor:auto;}
.cursor-default-md{cursor:default;}
.cursor-pointer-md{cursor:pointer;}
.cursor-wait-md{cursor:wait;}
.cursor-text-md{cursor:text;}
.cursor-move-md{cursor:move;}
.cursor-not-allowed-md{cursor:not-allowed;}
.cursor-grab-md{cursor:grab;}
.cursor-grabbing-md{cursor:grabbing;}


/* USER SELECT */
.select-none-md{user-select:none;}
.select-text-md{user-select:text;}
.select-all-md{user-select:all;}
.select-auto-md{user-select:auto;}
  

}

@media only screen and (min-width:67em) {
  


/* SIZES */
.text6-lg{font-size:3.815rem;}/* 61.035px */ 
.text5-lg{font-size:3.052rem;}/* 48.828px */ 
.text4-lg{font-size:2.441rem;}/* 39.063px */ 
.text3-lg{font-size:1.953rem;}/* 31.25px */ 
.text2-lg{font-size:1.563rem;}/* 25px */ 
.text1-lg{font-size:1.25rem;}/* 20px */ 
.text0-lg{font-size:1rem;}/* 16px */ 
.text-1-lg{font-size:0.8rem;}/* 12.8px */ 
.text-2-lg{font-size:0.64rem;}/* 10.24px */ 
.text-3-lg{font-size:0.512rem;}/* 8.192px */ 
.text-4-lg{font-size:0.41rem;}/* 6.554px */ 
.text-5-lg{font-size:0.328rem;}/* 5.243px */ 
.text-6-lg{font-size:0.262rem;}/* 4.194px */ 


/* Style */
.italic-lg{font-style:italic;}
.not-italic-lg{font-style:normal;}


/* LINE HEIGHT */
.leading5-lg{line-height: 2;}
.leading4-lg{line-height: 1.625;}
.leading3-lg{line-height: 1.5;}
.leading2-lg{line-height: 1.375;}
.leading1-lg{line-height: 1.25;}
.leading0-lg,
.leading-none-lg{line-height:1;}


/* TRACKING */
.tracking3-lg{letter-spacing: 0.1em;}
.tracking2-lg{letter-spacing: 0.05em;}
.tracking1-lg{letter-spacing: 0.025em;}
.tracking0-lg{letter-spacing: 0;}
.tracking-1-lg{letter-spacing: -0.025em;}
.tracking-2-lg{letter-spacing: -0.05em;}
  

/* WEIGHTS */
.font-hairline-lg{font-weight:100;}
.font-thin-lg{font-weight:200;}
.font-light-lg{font-weight:300;}
.font-normal-lg{font-weight:400;}
.font-medium-lg{font-weight:500;}
.font-semibold-lg{font-weight:600;}
.font-bold-lg{font-weight:700;}
.font-extrabold-lg{font-weight:800;}
.font-black-lg{font-weight:900;}


/* TEXT TRANSFORM */
.uppercase-lg{text-transform:uppercase;}
.lowercase-lg{text-transform:lowercase;}
.capitalize-lg{text-transform:capitalize;}
.normal-case-lg{text-transform:none;}
  

/* ALIGN */
.text-inherit-lg{text-align:inherit;}
.text-center-lg{text-align:center;}
.text-left-lg{text-align:left;}
.text-right-lg{text-align:right;}
  

/* DECORATION */
.no-underline-lg{text-decoration:none;}
.underline-lg{text-decoration:underline;}
.line-through-lg{text-decoration:line-through;}
  

/* LIST */
.list-none-lg{list-style:none;}
.list-disc-lg{list-style:disc;}
.list-decimal-lg{list-style:decimal;}


/* WHITESPACE */
.whitespace-normal-lg{white-space:normal;}
.truncate-lg,
.whitespace-no-wrap-lg{white-space:nowrap;}
.whitespace-pre-lg{white-space:pre;}
.whitespace-pre-line-lg{white-space:pre-line;}
.whitespace-pre-wrap-lg{white-space:pre-wrap;}
  

/* WORDBREAK */
.break-normal-lg{word-break:normal}
.break-normal-lg,
.break-word-lg{overflow-wrap:normal}
.break-all-lg{word-break:break-all}
.break-keep-lg{word-break:keep-all}
.truncate-lg,
.ellipsis-lg{text-overflow:ellipsis}
  
  

/* -----  LAYOUT ----- */


/* POSITION */
.sticky-lg{position:sticky;}
.static-lg{position:static;}
.absolute-lg{position:absolute;}
.relative-lg{position:relative;}
.fixed-lg{position:fixed;}


 /* POSITIONING */
 .trbl-lg,
.top0-lg{top:0;}
 .trbl-lg,
.right0-lg{right:0;}
 .trbl-lg,
.bottom0-lg{bottom:0;}
 .trbl-lg,
.left0-lg{left:0;}
  

/* DISPLAY */
.hidden-lg{display:none;}
.block-lg{display:block;}
.inline-lg{display:inline;}
.inline-block-lg{display:inline-block;}
.flex-lg{display:flex;}
.inline-flex-lg{display:inline-flex;}
.grid-lg{display:grid;}
.inline-grid-lg{display:inline-grid;}


/* WIDTH */
.w-0-lg{width:0}
.w-full-lg{width:100%}
.w-screen-lg{width:100vw}
.min-w-0-lg{min-width:0}
.min-w-full-lg{min-width:100%}
.max-width-none-lg{max-width:none}
.max-w-full-lg{max-width:100%}


/* HEIGHT */
.h-0-lg{height:0;}
.h-full-lg{height:100%;}
.h-screen-lg{height:100vh;}
.min-h-0-lg{min-height:0;}
.min-h-full-lg{min-height:100%;}
.min-h-screen-lg{min-height:100vh;}
.max-h-full-lg{max-height:100%;}
.max-h-screen-lg{max-height:100vh;}


/* FLEX */
.flex-1-lg{flex: 1 1 0%;}
.flex-auto-lg{flex: 1 1 auto;}
.flex-initial-lg{flex: 0 1 auto;}
.flex-none-lg{flex:none;}
.flex-row-lg{flex-direction:row;}
.flex-row-reverse-lg{flex-direction:row-reverse;}
.flex-col-lg{flex-direction:column;}
.flex-col-reverse-lg{flex-direction:column-reverse;}
.items-stretch-lg{align-items:stretch;}
.items-start-lg{align-items:flex-start;}
.items-end-lg{align-items:flex-end;}
.items-center-lg{align-items:center;}
.content-start-lg{align-content:start;}
.content-center-lg{align-content:center;}
.content-end-lg{align-content:end;}
.content-between-lg{align-content:space-between;}
.content-around-lg{align-content:space-around;}
.self-auto-lg{align-self:auto;}
.self-start-lg{align-self:flex-start;}
.self-end-lg{align-self:flex-end;}
.self-center-lg{align-self:center;}
.self-stretch-lg{align-self:stretch;}
.justify-start-lg{justify-content:flex-start;}
.justify-end-lg{justify-content: flex-end;}
.justify-around-lg{justify-content:space-around;}
.justify-between-lg{justify-content:space-between;}
.justify-center-lg{justify-content:center;}
.flex-grow-lg{flex-grow:1;}
.flex-grow-0-lg{flex-grow:0;}
.flex-shrink-lg{flex-shrink:1;}
.flex-shrink-0-lg{flex-shrink:0;}
.flex-wrap-lg{flex-wrap:wrap;}
.flex-wrap-reverse-lg{flex-wrap:wrap-reverse;}
.flex-no-wrap-lg{flex-wrap:nowrap;}
.order-first-lg{order:-9999;}
.order-last-lg{order:9999;}
.order-none-lg{order:0;}
.order-1-lg{order:1;}
.order-2-lg{order:2;}
.order-3-lg{order:3;}
.order-4-lg{order:4;}
.order-5-lg{order:5;}
.order-6-lg{order:6;}


/* GRID */
.flow-row-lg{grid-auto-flow:row;}
.flow-col-lg{grid-auto-flow:column;}
.flow-row-dense-lg{grid-auto-flow:row dense;}
.flow-column-dense-lg{grid-auto-flow:column dense;}
.row-auto-lg{grid-row:auto;}
.col-auto-lg{grid-column:auto;}
.col-end-auto-lg{grid-column-end: auto;}
.rows-end-auto-lg{grid-row-end:auto;}
.rows-none-lg{grid-template-rows:none;}
.col-1-lg{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1-lg{grid-column: span 1 / span 1;}
.col-start-1-lg{grid-column-start: 1;}
.row-start-1-lg{grid-row-start: 1;}
.col-end-1-lg{grid-column-end: 1;}
.row-end-1-lg{grid-row-end: 1;}
.row-1-lg{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2-lg{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2-lg{grid-column: span 2 / span 2;}
.col-start-2-lg{grid-column-start: 2;}
.row-start-2-lg{grid-row-start: 2;}
.col-end-2-lg{grid-column-end: 2;}
.row-end-2-lg{grid-row-end: 2;}
.row-2-lg{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3-lg{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3-lg{grid-column: span 3 / span 3;}
.col-start-3-lg{grid-column-start: 3;}
.row-start-3-lg{grid-row-start: 3;}
.col-end-3-lg{grid-column-end: 3;}
.row-end-3-lg{grid-row-end: 3;}
.row-3-lg{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4-lg{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4-lg{grid-column: span 4 / span 4;}
.col-start-4-lg{grid-column-start: 4;}
.row-start-4-lg{grid-row-start: 4;}
.col-end-4-lg{grid-column-end: 4;}
.row-end-4-lg{grid-row-end: 4;}
.row-4-lg{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5-lg{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5-lg{grid-column: span 5 / span 5;}
.col-start-5-lg{grid-column-start: 5;}
.row-start-5-lg{grid-row-start: 5;}
.col-end-5-lg{grid-column-end: 5;}
.row-end-5-lg{grid-row-end: 5;}
.row-5-lg{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6-lg{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6-lg{grid-column: span 6 / span 6;}
.col-start-6-lg{grid-column-start: 6;}
.row-start-6-lg{grid-row-start: 6;}
.col-end-6-lg{grid-column-end: 6;}
.row-end-6-lg{grid-row-end: 6;}
.row-6-lg{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7-lg{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7-lg{grid-column: span 7 / span 7;}
.col-start-7-lg{grid-column-start: 7;}
.row-start-7-lg{grid-row-start: 7;}
.col-end-7-lg{grid-column-end: 7;}
.row-end-7-lg{grid-row-end: 7;}
.row-7-lg{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8-lg{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8-lg{grid-column: span 8 / span 8;}
.col-start-8-lg{grid-column-start: 8;}
.row-start-8-lg{grid-row-start: 8;}
.col-end-8-lg{grid-column-end: 8;}
.row-end-8-lg{grid-row-end: 8;}
.row-8-lg{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9-lg{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9-lg{grid-column: span 9 / span 9;}
.col-start-9-lg{grid-column-start: 9;}
.row-start-9-lg{grid-row-start: 9;}
.col-end-9-lg{grid-column-end: 9;}
.row-end-9-lg{grid-row-end: 9;}
.row-9-lg{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10-lg{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10-lg{grid-column: span 10 / span 10;}
.col-start-10-lg{grid-column-start: 10;}
.row-start-10-lg{grid-row-start: 10;}
.col-end-10-lg{grid-column-end: 10;}
.row-end-10-lg{grid-row-end: 10;}
.row-10-lg{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11-lg{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11-lg{grid-column: span 11 / span 11;}
.col-start-11-lg{grid-column-start: 11;}
.row-start-11-lg{grid-row-start: 11;}
.col-end-11-lg{grid-column-end: 11;}
.row-end-11-lg{grid-row-end: 11;}
.row-11-lg{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12-lg{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12-lg{grid-column: span 12 / span 12;}
.col-start-12-lg{grid-column-start: 12;}
.row-start-12-lg{grid-row-start: 12;}
.col-end-12-lg{grid-column-end: 12;}
.row-end-12-lg{grid-row-end: 12;}
.row-12-lg{grid-template-rows: repeat(12, minmax(0, 1fr));}
.gap5-lg{gap:3.815rem;}
.gap4-lg{gap:3.052rem;}
.gap3-lg{gap:2.441rem;}
.gap2-lg{gap:1.953rem;}
.gap1-lg{gap:1.563rem;}
.gap0-lg{gap:1.25rem;}
.gap-1-lg{gap:1rem;}
.gap-2-lg{gap:0.8rem;}
.gap-3-lg{gap:0.64rem;}
.gap-4-lg{gap:0.512rem;}
.gap-5-lg{gap:0.41rem;}
.gap-6-lg{gap:0.328rem;}
.gap-7-lg{gap:0.262rem;}


/* Z-INDEX */
.z-auto-lg{z-index:auto;}
.z1-lg{z-index:1;}
.z0-lg{z-index:0;}
.z-1-lg{z-index:-1;}



/* MARGIN */
.m-none-lg{margin:0}
.my-none-lg,
.mt-none-lg{margin-top:0}
.mx-none-lg,
.mr-none-lg{margin-right:0}
.my-none-lg,
.mb-none-lg{margin-bottom:0}
.mx-none-lg,
.ml-none-lg{margin-left:0}
.m-auto-lg{margin-right:auto;margin-left:auto;}
.mr-auto-lg{margin-right:auto}
.ml-auto-lg{margin-left:auto}
.m6-lg{margin:3.815rem}
.mt6-lg{margin-top:3.815rem}
.mr6-lg{margin-right:3.815rem}
.mb6-lg{margin-bottom:3.815rem}
.ml6-lg{margin-left:3.815rem}
.m5-lg{margin:3.052rem}
.mt5-lg{margin-top:3.052rem}
.mr5-lg{margin-right:3.052rem}
.mb5-lg{margin-bottom:3.052rem}
.ml5-lg{margin-left:3.052rem}
.m4-lg{margin:2.441rem}
.mt4-lg{margin-top:2.441rem}
.mr4-lg{margin-right:2.441rem}
.mb4-lg{margin-bottom:2.441rem}
.ml4-lg{margin-left:2.441rem}
.m3-lg{margin:1.953rem}
.mt3-lg{margin-top:1.953rem}
.mr3-lg{margin-right:1.953rem}
.mb3-lg{margin-bottom:1.953rem}
.ml3-lg{margin-left:1.953rem}
.m2-lg{margin:1.563rem}
.mt2-lg{margin-top:1.563rem}
.mr2-lg{margin-right:1.563rem}
.mb2-lg{margin-bottom:1.563rem}
.ml2-lg{margin-left:1.563rem}
.m1-lg{margin:1.25rem}
.mt1-lg{margin-top:1.25rem}
.mr1-lg{margin-right:1.25rem}
.mb1-lg{margin-bottom:1.25rem}
.ml1-lg{margin-left:1.25rem}
.m0-lg{margin:1rem}
.mt0-lg{margin-top:1rem}
.mr0-lg{margin-right:1rem}
.mb0-lg{margin-bottom:1rem}
.ml0-lg{margin-left:1rem}
.m-1-lg{margin:0.8rem}
.mt-1-lg{margin-top:0.8rem}
.mr-1-lg{margin-right:0.8rem}
.mb-1-lg{margin-bottom:0.8rem}
.ml-1-lg{margin-left:0.8rem}
.m-2-lg{margin:0.64rem}
.mt-2-lg{margin-top:0.64rem}
.mr-2-lg{margin-right:0.64rem}
.mb-2-lg{margin-bottom:0.64rem}
.ml-2-lg{margin-left:0.64rem}
.m-3-lg{margin:0.512rem}
.mt-3-lg{margin-top:0.512rem}
.mr-3-lg{margin-right:0.512rem}
.mb-3-lg{margin-bottom:0.512rem}
.ml-3-lg{margin-left:0.512rem}
.m-4-lg{margin:0.41rem}
.mt-4-lg{margin-top:0.41rem}
.mr-4-lg{margin-right:0.41rem}
.mb-4-lg{margin-bottom:0.41rem}
.ml-4-lg{margin-left:0.41rem}
.m-5-lg{margin:0.328rem}
.mt-5-lg{margin-top:0.328rem}
.mr-5-lg{margin-right:0.328rem}
.mb-5-lg{margin-bottom:0.328rem}
.ml-5-lg{margin-left:0.328rem}
.m-6-lg{margin:0.262rem}
.mt-6-lg{margin-top:0.262rem}
.mr-6-lg{margin-right:0.262rem}
.mb-6-lg{margin-bottom:0.262rem}
.ml-6-lg{margin-left:0.262rem}


/* PADDING */
.p-none-lg{padding:0;}
.py-none-lg,
.pt-none-lg{padding-top:0;}
.px-none-lg,
.pr-none-lg{padding-right:0;}
.py-none-lg,
.pb-none-lg{padding-bottom:0;}
.px-none-lg,
.pl-none-lg{padding-left:0;}
.p6-lg{padding:3.815rem;}
.pt6-lg{padding-top:3.815rem;}
.pr6-lg{padding-right:3.815rem;}
.pb6-lg{padding-bottom:3.815rem;}
.pl6-lg{padding-left:3.815rem;}
.p5-lg{padding:3.052rem;}
.pt5-lg{padding-top:3.052rem;}
.pr5-lg{padding-right:3.052rem;}
.pb5-lg{padding-bottom:3.052rem;}
.pl5-lg{padding-left:3.052rem;}
.p4-lg{padding:2.441rem;}
.pt4-lg{padding-top:2.441rem;}
.pr4-lg{padding-right:2.441rem;}
.pb4-lg{padding-bottom:2.441rem;}
.pl4-lg{padding-left:2.441rem;}
.p3-lg{padding:1.953rem;}
.pt3-lg{padding-top:1.953rem;}
.pr3-lg{padding-right:1.953rem;}
.pb3-lg{padding-bottom:1.953rem;}
.pl3-lg{padding-left:1.953rem;}
.p2-lg{padding:1.563rem;}
.pt2-lg{padding-top:1.563rem;}
.pr2-lg{padding-right:1.563rem;}
.pb2-lg{padding-bottom:1.563rem;}
.pl2-lg{padding-left:1.563rem;}
.p1-lg{padding:1.25rem;}
.pt1-lg{padding-top:1.25rem;}
.pr1-lg{padding-right:1.25rem;}
.pb1-lg{padding-bottom:1.25rem;}
.pl1-lg{padding-left:1.25rem;}
.p0-lg{padding:1rem;}
.pt0-lg{padding-top:1rem;}
.pr0-lg{padding-right:1rem;}
.pb0-lg{padding-bottom:1rem;}
.pl0-lg{padding-left:1rem;}
.p-1-lg{padding:0.8rem;}
.pt-1-lg{padding-top:0.8rem;}
.pr-1-lg{padding-right:0.8rem;}
.pb-1-lg{padding-bottom:0.8rem;}
.pl-1-lg{padding-left:0.8rem;}
.p-2-lg{padding:0.64rem;}
.pt-2-lg{padding-top:0.64rem;}
.pr-2-lg{padding-right:0.64rem;}
.pb-2-lg{padding-bottom:0.64rem;}
.pl-2-lg{padding-left:0.64rem;}
.p-3-lg{padding:0.512rem;}
.pt-3-lg{padding-top:0.512rem;}
.pr-3-lg{padding-right:0.512rem;}
.pb-3-lg{padding-bottom:0.512rem;}
.pl-3-lg{padding-left:0.512rem;}
.p-4-lg{padding:0.41rem;}
.pt-4-lg{padding-top:0.41rem;}
.pr-4-lg{padding-right:0.41rem;}
.pb-4-lg{padding-bottom:0.41rem;}
.pl-4-lg{padding-left:0.41rem;}
.p-5-lg{padding:0.328rem;}
.pt-5-lg{padding-top:0.328rem;}
.pr-5-lg{padding-right:0.328rem;}
.pb-5-lg{padding-bottom:0.328rem;}
.pl-5-lg{padding-left:0.328rem;}
.p-6-lg{padding:0.262rem;}
.pt-6-lg{padding-top:0.262rem;}
.pr-6-lg{padding-right:0.262rem;}
.pb-6-lg{padding-bottom:0.262rem;}
.pl-6-lg{padding-left:0.262rem;}


/* OVERFLOW */
.overflow-auto-lg{overflow:auto;}
.truncate-lg,
.overflow-hidden-lg{overflow:hidden;}
.overflow-visible-lg{overflow:visible;}
.overflow-scroll-lg{overflow:scroll;}
.overflow-x-auto-lg{overflow-x:auto;}
.overflow-y-auto-lg{overflow-y:auto;}
.overflow-x-scroll-lg{overflow-x:scroll;}
.overflow-x-hidden-lg{overflow-x:hidden;}
.overflow-y-scroll-lg{overflow-y:scroll;}
.overflow-y-hidden-lg{overflow-y:hidden;}
.scrolling-touch-lg{-webkit-overflow-scrolling:touch;}
.scrolling-auto-lg{-webkit-overflow-scrolling:auto;}


/* VISIBILITY */
.invisible-lg{visibility:hidden;}
.visible-lg{visibility:visible;}


/* OBJECT FIT */
.object-contain-lg{object-fit:contain;}
.object-cover-lg{object-fit:cover;}
.object-fill-lg{object-fit:fill;}
.object-none-lg{object-fit:none;}
.object-scale-down-lg{object-fit:scale-down;}


/* OBJECT POSITION */
.object-b-lg{object-position:bottom;}
.object-c-lg{object-position:center;}
.object-t-lg{object-position:top;}
.object-r-lg{object-position:right;}
.object-rt-lg{object-position:right top;}
.object-rb-lg{object-position:right bottom;}
.object-l-lg{object-position:left;}
.object-lt-lg{object-position:left top;}
.object-lb-lg{object-position:left bottom;}
  

/* OUTLINE */
.outline-none-lg{outline:0;}
  

/* OPACITY */
.opacity-0-lg{opacity:0;}
.opacity-25-lg{opacity:0.25;}
.opacity-50-lg{opacity:0.5;}
.opacity-75-lg{opacity:0.75;}
.opacity-100-lg{opacity:1.0;}


/* CURSOR */
.cursor-auto-lg{cursor:auto;}
.cursor-default-lg{cursor:default;}
.cursor-pointer-lg{cursor:pointer;}
.cursor-wait-lg{cursor:wait;}
.cursor-text-lg{cursor:text;}
.cursor-move-lg{cursor:move;}
.cursor-not-allowed-lg{cursor:not-allowed;}
.cursor-grab-lg{cursor:grab;}
.cursor-grabbing-lg{cursor:grabbing;}


/* USER SELECT */
.select-none-lg{user-select:none;}
.select-text-lg{user-select:text;}
.select-all-lg{user-select:all;}
.select-auto-lg{user-select:auto;}
  

}
