{{#> base title='information and selected work'}}
  {{#*inline 'content'}}

    {{> header subtitle='information and selected work'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-trafalgar.jpg' style='max-width: 100%; height: auto;' alt='Photograph by Cole Peters, from Trafalgar Square, London, 2016'>
          <small class='s-gray-700'>
            Trafalgar Square, London; 2016
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            Ever since my father put an Olympus Stylus Epic into my then-adolescent hands, I have been a lover of photography.
          </p>
          <p>
            My photography primarily takes place within urban environments, and seeks to document the strangeness of reality as seen through a lens of introversion and other-ness. Having relocated to London from the sparse and vast prairies of Canada some 3 years ago, I continue to find the crush of metropolitan life a fascinating subject of observation.
          </p>
          <p>
            To borrow a phrase from Garry Winogrand, I believe that there is nothing so mysterious as a fact clearly described. I have spent many an hour over the past years on the streets of London and other locations in Europe and Canada, capturing spontaneous moments in an ongoing series of images which attempt to record these mysteries of facts, and to understand how a photograph both reflects and transforms what is captured within its perimeters.
          </p>
          <p>
            I released <a href='images-pour-rien.html'>‘Images Pour Rien’, my first book of photographs</a>, in early 2016. I am currently working on developing a new body of work, and taking on the occasional commission for publications.
          </p>
          <p>
            My ongoing desire for my photography is to present an alternative view of reality which might otherwise remain invisible, or considered unremarkable or banal. Within this chaos, it is my hope that a measure of fascination might be uncovered and appreciated.
          <p>

          <p class='s-h3'>
            Selected work
          </p>

          <ul class='u-listReset u-pl0'>
            {{> selected
              link='https://colepeters.exposure.co/maximum-black'
              title='Maximum Black'
              subtitle='Bohren &amp; der Club of Gore at Union Chapel, 21 May 2016'
            }}

            {{> selected
              link='https://www.lensculture.com/colepeters?modal=true&modal_type=project&modal_project_id=246182'
              title='Untitled'
              subtitle='Submission to Magnum Photo Awards 2016, hosted by Lens Culture'
            }}

            {{> selected
              link='https://colepeters.exposure.co/coming-home-to-the-leica-m'
              title='Coming Home to the Leica M'
              subtitle='On rangefinder photography and the Leica M Typ 262'
            }}

            {{> selected
              link='images-pour-rien.html'
              title='Images Pour Rien'
              subtitle='First edition, hardback, 100 photographs, self-published 2016'
            }}

            {{> selected
              link='https://issuu.com/sister_magazine/docs/sistermag23-en/340?e=4475563/33733724'
              title='Between Light and Shadow'
              subtitle='Words and photographs, sisterMAG no. 23, February 2016'
            }}

            {{> selected
              link='https://www.lensculture.com/colepeters?modal=true&modal_type=project&modal_project_id=200307'
              title='End Austerity Now'
              subtitle='Photographs from one of the UK’s largest protests in recent years'
            }}
          </ul>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

