{{#> base title='designer/developer'}}
  {{#*inline 'content'}}

    {{> header subtitle='designer/developer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-sourcecode.jpg' alt='Photograph of a this page’s source code' style='max-width: 100%; height: auto;' />
          <small class='s-gray-700'>
            Design, in code
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            My professional work exists at the intersection of design and code, combining a love of functionalism, performance, and aesthetics.
          </p>
          <p>
            I developed a love for design in my teenage years, but it wasn’t until 2009 that I began my career as a designer. I started out in the world of branding, strategy, and information design, but quickly grew curious about the fast-evolving world of design on the web.
          </p>
          <p>
            In 2011, I co-founded a design practice in my home country of Canada, which focused on the design and development of websites and user interfaces. Over the following years, I relocated to the UK, and continued to refine my abilities in the creation of robust CSS architectures, performant user interfaces, and highly functional, responsive design.
          </p>
          <p>
            I have recently begun to focus more seriously on the world of front-end development, with an interest in exploring how code can enable design to be at its best, both for users and the designers and developers who shape it. I am currently working on complementing my knowledge of CSS, HTML, and Javascript with an increased focus on functional programming and Flux-based architectures.
          </p>

          <h2 class='s-h3 u-mt4'>
            Current work
          </h2>

          <p>
            I worked as a senior UI designer at <a href='https://trialreach.com'>TrialReach</a> from 2014&ndash;2016, where I was chiefly responsible for the design of our product suite, along with defining and maintaining the brand’s visual execution. I contributed to both broad and granular levels of product design, and worked to increase the usability, performance, and impact of our user interfaces and front-end architecture.
          </p>
          <p>
            In 2016, I migrated over to our engineering team, where I am currently working as a front-end developer. I’m very much looking forward to the challenges of this new role, and to the opportunity of learning from some incredible colleagues.
          </p>

          <h2 class='s-h3 u-mt4'>
            Open-source projects
          </h2>

          <dl>
            <dt><a href='https://github.com/colepeters/gemma'>Gemma</a></dt>
            <dd>An functional CSS library that aims to help designers and developers build better user interfaces, faster. It’s not quite ready for use, though a public-ready release is planned for some time in 2016.</dd>

            <dt class='u-mt3'><a href='http://firstthingsfirst2014.org'>First Things First 2014</a></dt>
            <dd>A reboot of the legendary First Things First manifesto. I led the 2014 project on my own initiative, with the assistance of some wonderful fellow designers, writers, and technologists. Over 2 years, it attracted more than 1,650 signatories, and was covered by many notable design publications.</dd>

            <dt class='u-mt3'><a href='https://github.com/colepeters/dotfiles'>Dotfiles</a></dt>
            <dd>My dotfiles (in lay terms: very nerdy development environment customisations). Mostly focusing on ZSH, Vim/NeoVim, and Git. Shared more for interest than being ready-to-use.</dd>

            <dt class='u-mt3'><a href='https://github.com/colepeters/tcp-material-iterm'>Material iTerm</a></dt>
            <dd>Dark and light colour schemes for <a href='https://iterm2.com/'>iTerm</a>, based on Google’s <a href='http://www.google.com/design/spec/style/color.html#color-color-palette'>Material Design colour palette</a>.</dd>

            <dt class='u-mt3'><a href='https://github.com/colepeters/tcpSpacegraySolarized'>Spacegray Solarized</a></dt>
            <dd>My own remix of <a href='https://kkga.github.io/spacegray/'>Spacegray</a>, a popular theme for Sublime Text, the text editor I used before I discovered the beauty of Vim. This theme uses colours from <a href='http://ethanschoonover.com/solarized'>Solarized</a>, a colour scheme popular amongst designers and developers.</dd>

            <dt class='u-mt3'><a href='http://rugby.colepeters.com/'>Rugby</a></dt>
            <dd>Built while working with a bunch of iOS developers, Rugby converts colour swatches from the RGB format to the syntax used in Objective-C (the programming language used to develop iOS apps before Swift came along). I built this little app for my own purposes (handing off UI specifications to developers in a format they could readily use), then open-sourced it for other designers to make use of. It’s a bit dated now, but fun to look back on.</dd>
          </dl>

          <h2 class='s-h3 u-mt4'>
            Past work
          </h2>
          <p>
            Prior to my current position, I worked at a mobile app agency in London, designing user interfaces primarily for iOS-based applications. Before moving to London, I co-founded <a href='http://burdocks.ca'>a design practice in my hometown of Winnipeg, Manitoba</a> &mdash; which today is operated by co-founder Robyn Shesterniak.
          </p>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

