{{#> base title='designer'}}
  {{#*inline 'content'}}

    {{> header subtitle='designer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-hand.jpg' alt='Photograph of a hand' style='max-width: 100%; height: auto;' />
          <small class='s-gray-700'>
            Tool for form-giving
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            I came to design through art. Today, I approach it in equal measure through code and research.
          </p>
          <p>
            My profession has been as a designer for nearly the past 10 years, though I have pursued it as a practice since my early teens. I began my career in branding, printed advertisements and information design, working closely with a supply chain of printers and distributors.
          </p>
          <p>
            Since 2012, I have worked as designer of websites, web-based applications, and digital user interfaces. I have spent almost all of that time working in code, having developed an increasing fascination with front-end architecture, performance, and scalable code-based design tools over the past couple of years.
          </p>
          <p>
            My approach is one based upon user needs; responsive, mobile-first design and development; high-calibre performance and aesthetics; and a desire to make things both work and feel simple.
          </p>

          <h2 class='s-h3 u-mt4'>
            Current work
          </h2>

          <p>
            I have been working as a senior UI designer at <a href='https://trialreach.com'>TrialReach</a> since 2014. During this time, I have contributed at high and granular levels to designing new products; increased the scalability, usability, and performance of our user interfaces; and worked to define and maintain the brand’s visual execution. 
          </p>
          <p>
            I  am proud to say that my work not only serves to help individuals with chronic and terminal medical conditions, but also my colleagues in their efforts to do the same.
          </p>

          <h2 class='s-h3 u-mt4'>
            Past work
          </h2>
          <p>
            Prior to my current position, I worked at a mobile app agency in London, designing user interfaces primarily for iOS-based applications. Before moving to London, I co-founded <a href='http://burdocks.ca'>a design practice in my hometown of Winnipeg, Manitoba</a> &mdash; which today is operated by co-founder Robyn Shesterniak.
          </p>
          <p>
            Samples of previous works, including freelance commissions and personal work, will be posted here soon.
          </p>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

