{{#> base title='designer'}}
  {{#*inline 'content'}}

    {{> header subtitle='designer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-hand.jpg' alt='Photograph of a hand' style='max-width: 100%; height: auto;' />
          <small class='s-gray-700'>
            Tool for form-giving
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            I came to design through art. Today, I approach it in equal measure through code and functionalism.
          </p>
          <p>
            My profession has been as a designer since 2009, though I have pursued it as a practice since my early teens. I began my career in branding, printed advertisements and information design; since 2011, I have worked as a designer of websites, web-based applications, and digital user interfaces.
          </p>
          <p>
            I have spent almost all of my time in web design working in code and designing in the browser. My approach to design is one based upon user needs, high-calibre aesthetics, and a desire to make things both work and feel simple.
          </p>
          <p>
            As a developer, I specialise in building performant, scalable CSS architectures, translating user experience concepts into prototypes, and collaborating with other developers to deliver cohesive, robust products and services.
          </p>

          <h2 class='s-h3 u-mt4'>
            Current work
          </h2>

          <p>
            I have been working as a senior UI designer at <a href='https://trialreach.com'>TrialReach</a> since 2014, where I have been chiefly responsible for the design of our product suite, along with defining and maintaining the brand’s visual execution. I contribute to both broad and granular levels of product design, and have worked to increase the usability, performance, and impact of our user interfaces and front-end architecture.
          </p>
          <p>
            I am proud to collaborate with a dedicated team of developers, engineers, user experience and product experts, and to know that my work supports individuals with chronic and terminal medical conditions.
          </p>

          <h2 class='s-h3 u-mt4'>
            Open-source projects
          </h2>

          <dl>
            <dt><a href='https://github.com/colepeters/gemma'>Gemma</a></dt>
            <dd>An open-source, functional CSS library that aims to help designers and developers build better user interfaces, faster. It’s not quite ready for use, though &mdash; a public-ready release is planned for some time in 2016. (Though I did build this site with an in-progress version of it.)</dd>

            <dt class='u-mt3'><a href='http://firstthingsfirst2014.org'>First Things First 2014</a></dt>
            <dd>A reboot of the legendary First Things First manifesto. I led the 2014 project on my own initiative, with the assistance of some wonderful fellow designers, writers, and technologists. Over 2 years, it attracted more than 1,650 signatories, and was covered by many notable design publications.</dd>

            <dt class='u-mt3'><a href='https://github.com/colepeters/dotfiles'>Dotfiles</a></dt>
            <dd>My dotfiles (in lay terms: very nerdy development environment customisations). Mostly focusing on ZSH, Vim/NeoVim, and Git. Shared more for interest than being ready-to-use.</dd>

            <dt class='u-mt3'><a href='https://github.com/colepeters/tcp-material-iterm'>Material iTerm</a></dt>
            <dd>Dark and light colour schemes for <a href='https://iterm2.com/'>iTerm</a>, based on Google’s <a href='http://www.google.com/design/spec/style/color.html#color-color-palette'>Material Design colour palette</a>.</dd>

            <dt class='u-mt3'><a href='https://github.com/colepeters/tcpSpacegraySolarized'>Spacegray Solarized</a></dt>
            <dd>My own remix of <a href='https://kkga.github.io/spacegray/'>Spacegray</a>, a popular theme for Sublime Text, the text editor I used before I discovered the beauty of Vim. This theme uses colours from <a href='http://ethanschoonover.com/solarized'>Solarized</a>, a colour scheme popular amongst designers and developers.</dd>

            <dt class='u-mt3'><a href='http://rugby.colepeters.com/'>Rugby</a></dt>
            <dd>Built while working with a bunch of iOS developers, Rugby converts colour swatches from the RGB format to the syntax used in Objective-C (the programming language used to develop iOS apps before Swift came along). I built this little app for my own purposes (handing off UI specifications to developers in a format they could readily use), then open-sourced it for other designers to make use of. It’s a bit dated now, but fun to look back on.</dd>
          </dl>

          <h2 class='s-h3 u-mt4'>
            Past work
          </h2>
          <p>
            Prior to my current position, I worked at a mobile app agency in London, designing user interfaces primarily for iOS-based applications. Before moving to London, I co-founded <a href='http://burdocks.ca'>a design practice in my hometown of Winnipeg, Manitoba</a> &mdash; which today is operated by co-founder Robyn Shesterniak.
          </p>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

