{{#> document title='Images Pour Rien'}}
  {{#*inline 'content'}}

  {{> header title='Images Pour Rien'}}

  <figure class='ma0'>
    <div class='responsive-embed'>
      <iframe width='1280' height='720' src='https://www.youtube-nocookie.com/embed/eCxY_2aRy7g?rel=0&vq=hd720' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <figcaption class='f6 gray'>Trailer for Images Pour Rien</figcaption>
  </figure>

  <div class='lh-copy mt5' style='max-width: 60ch;'>
    <h2 class='f3 fw4'>‘Images Pour Rien’ is my first book of photographs, comprising a year’s worth of images of people, places, and presences.</h2>
    <p>
      At a surface level, the book is firmly rooted in the traditions of so-called street photography. Most of the images which make up the book have been captured in urban environments — the subjects unwitting, the action unplanned.</p>
    <p>
      Across one hundred images, presented in chronological order but without the provision of context, ‘Images Pour Rien’ is a collection of photographs in search of inquisitive viewers. The title itself draws inspiration from a series of works by Samuel Beckett — an author whose prose, along with that of Polish author Bruno Schulz, have been key in shaping my interest in the creation of mysteries which remain tantalisingly unresolved.
    </p>

    <h2 class='fw5 mt5'>Publication details</h2>
    <p>
      20×25cm (10×8in); hardcover, with semi-gloss dust jacket over black linen wrap; 100 pages, 100 black and white images; printed on 118gsm semi-matte paper.
    </p>
    <p>
      Photographed January – November, 2015 by Cole Peters; layout and design by the author, December 2015 – January 2016; typeset in Work Sans.<Paste>
    </p>
    <p>
      ‘Images Pour Rien’ is printed on demand by the good people at Blurb.
    </p>

    {{> linkButtonPrimary href='http://www.blurb.com/b/6847131-images-pour-rien' label='Preview and purchase on Blurb'}}
  </div>

  <h2 class='fw5 mt5'>The book</h2>
  <img src='images/ipr-01.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />
  <img src='images/ipr-02.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />
  <img src='images/ipr-03.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />
  <img src='images/ipr-04.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />
  <img src='images/ipr-05.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />
  <img src='images/ipr-06.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />
  <img src='images/ipr-07.jpg' class='mw-100 mb3' alt='Photograph of the book Images Pour Rien' />

  <p class='lh-copy measure'>Sample images of the photographs themselves can be seen in the trailer shown at the top of this page. You can also <a href='http://www.blurb.com/b/6847131-images-pour-rien' class='dark-green dim'>preview the entire book on Blurb</a>.</p>

  <div class='lh-copy measure'>
    <h2 class='fw5 mt5'>Pricing</h2>
    <p>
      ‘Images Pour Rien’ is currently available in a single hardcover format, for the price of £48.
    </p>
    <p>
      Due to the fact that I am self-publishing this book, and cannot afford to publish a volume run of books in advance (which would thus reduce the per-unit cost), I have attempted to balance material quality and costs in order to keep the price of the book affordable to as many people as feasible. The result is a book which retains a high level of quality without verging into luxury materials, and which sits below the £50 price point.
    </p>
    <p>
      I have also kept my profit margin low on this current edition. In the interest of transparency: I myself will be collecting less than £10 per copy of the book sold.
    </p>
    <p>
      I will be searching for alternative publishing options to create a new edition of the book at a more affordable price in the near future.
    </p>
    <p>
      In the mean time, I hope this first edition ‘Images Pour Rien’ fills you with as much enjoyment as I have felt in bringing it to life.
    </p>
  </div>

  <div class='lh-copy mt5'>
    <p>
      {{> linkButtonPrimary href='http://www.blurb.com/b/6847131-images-pour-rien' label='Preview and purchase on Blurb'}}
    </p>
  </div>

  {{> footer}}

  {{/inline}}
{{/document}}
