{{#> base title='Images Pour Rien'}}
  {{#*inline 'content'}}

    {{> header subtitle='Images Pour Rien'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <div class='a-embedContainer u-relative'><iframe width='1280' height='720' src='https://www.youtube-nocookie.com/embed/eCxY_2aRy7g?rel=0&vq=hd720' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
          <small class='s-gray-700'>
            Trailer for ‘Images Pour Rien’
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
             &lsquo;Images Pour Rien&rsquo; is my first book of photographs, comprising a year&rsquo;s worth of images of people, places, and&nbsp;presences.</p>
          <p>
            At a surface level, the book is firmly rooted in the traditions of street photography. Most of the images which make up the book have been captured in urban environments — the subjects unwitting, the action unplanned. Tropes familiar to this genre of photography (juxtapositions of subjects and of geometries, and the search for decisive moments) are employed to set the scene, encouraging a level of abstraction.
          </p>
          <p>
            Across one hundred images, presented in chronological order but without the provision of context, &lsquo;Images Pour Rien&rsquo; is a collection of photographs in search of inquisitive viewers. The title itself draws inspiration from a series of works by Samuel Beckett &mdash; an author whose prose, along with that of Polish author Bruno Schulz, have been key in shaping my interest in the creation of mysteries which remain tantalisingly unresolved.
          </p>
          <p>
            This, my first foray into publishing my photographs in book-form, is at its core an attempt to examine and question the nature of our daily realities, while engaging the viewer’s conscious and subconscious mind in the spinning of spontaneous narratives.
          </p>

          <h2 class='s-h3 u-mt4 u-mb0'>
            Publication details
          </h2>
          <p>
          20&times;25cm (10&times;8in); hardcover, with semi-gloss dust jacket over black linen wrap; 100 pages, 100 black and white images; printed on 118gsm semi-matte paper.
          </p>
          <p>
            Photographed January &ndash; November, 2015 by Cole Peters; layout and design by the author, December 2015 &ndash; January 2016; typeset in Work Sans.
          </p>
          <p>
            &lsquo;Images Pour Rien&rsquo; is printed on demand by the good people at Blurb &mdash; producers of some of the finest photo books you can find.
          </p>

          {{>LinkButton href='http://www.blurb.com/b/6847131-images-pour-rien' label='Preview and purchase on Blurb' classes='u-mt4 s-nearBlack'}}

        </div>

        <div class='o-col-oneWhole u-mb2'>
          <h2 class='s-h3 u-mt4 u-mb4'>
            The book
          </h2>

          <img src='images/images-pour-rien/ipr-01.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
          <img src='images/images-pour-rien/ipr-02.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
          <img src='images/images-pour-rien/ipr-03.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
          <img src='images/images-pour-rien/ipr-04.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
          <img src='images/images-pour-rien/ipr-05.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
          <img src='images/images-pour-rien/ipr-06.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
          <img src='images/images-pour-rien/ipr-07.jpg' alt='Front cover of Images Pour Rien' class='u-mb1'>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds'>
          <p>
            Sample images of the photographs themselves are available in the trailer shown at the top of this page. You can also <a href='http://www.blurb.com/b/6847131-images-pour-rien'>preview the entire book on Blurb</a>.
          </p>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds'>
          <h2 class='s-h3 u-mt4 u-ub4'>
            Pricing
          </h2>

          <p>
            &lsquo;Images Pour Rien&rsquo; is currently available in a single hardcover format, for the price of £48.
          </p>
          <p>
            Due to the fact that I am self-publishing this book, and cannot afford to publish a volume run of books in advance (which would thus reduce the per-unit cost), I have attempted to balance material quality and costs in order to keep the price of the book affordable to as many people as feasible. The result is a book which retains a high level of quality without verging into luxury materials, and which sits below the £50 price point.
          </p>
          <p>
            I have also kept my profit margin low on this current edition. In the interest of transparency: I myself will be collecting less than £10 per copy of the book sold.
          </p>
          <p>
            In future, I may explore both more affordable (softcover) editions, as well as more high-end versions (thicker paper, larger sizes) if the demand exists. Should you wish to express your interest in either of these options, please <a href='mail&#116;o&#58;c%6Fle&#64;co&#37;&#54;Cepe%74&#101;&#114;&#37;&#55;3&#46;&#99;&#111;m'>get in touch via email</a>.
          </p>
          <p>
            In the mean time, I hope this first edition &lsquo;Images Pour Rien&rsquo; fills you with as much enjoyment as I have felt in bringing it to life.
          </p>

          {{>LinkButton href='http://www.blurb.com/b/6847131-images-pour-rien' label='Preview and purchase on Blurb' classes='u-mt4 s-nearBlack'}}

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

