{{#> document title='photographer'}}
  {{#*inline 'content'}}

  {{> header title='photographer'}}

  <figure class='ma0'>
    <img
      class='mw-100'
      srcset='images/colepeters-nun-640w.jpg 640w,
              images/colepeters-nun-1080w.jpg 1080w,
              images/colepeters-nun-1920w.jpg 1920w'
      sizes='(min-width: 64em) 100vw,
            (min-width: 48em) 100vw,
            100vw'
      src='images/colepeters/nun-1080w.jpg'
      alt='Nun, Verona; photograph by Cole Peters' />
    <figcaption class='f6 gray'>Nun, Verona, Italy. &copy; 2016</figcaption>
  </figure>

  <section class='lh-copy mt5 mt6-l' style='max-width: 56ch;'>
    <h1 class='fw5'>Hello.</h1>
    <p>
      I am a photographer. I was born in Canada, and am currently based in London, England.
    </p>
    <p>
      I have been a lover of photography for nearly as long as I can remember. Since late 2014, I have been photographing the streets and landscapes of my adopted home in the UK, in addition to other locations across Europe and Canada.
    </p>
    <p>
      I <a href='code.html' title='Learn more about my work in front-end development' class='dark-green dim'>design and develop user interfaces</a> for a living, and also create <a href='https://colepeters.bandcamp.com' title='Listen to and purchase my music' class='dark-green dim'>the occasional album of music</a>.
    </p>
    <p>
      This website primarily acts as a point of reference for my photography.
    </p>
  </section>

  {{> featuredWork}}
  {{> selectedWork}}


  <section class='lh-copy mt5 mt6-l' style='max-width: 56ch;'>
    <h1 class='fw5'>Elsewhere</h1>

    <ul class='list pl0'>
      <li>
        <span class='dib w4 f6 fw5 ttu tracked'>Twitter: </span>
        <a href='https://twitter.com/cole_peters' class='dark-green dim'>@cole_peters</a>
      </li>
      <li>
        <span class='dib w4 f6 fw5 ttu tracked'>Instagram: </span>
        <a href='https://instagram.com/colepetersphoto' class='dark-green dim'>@colepetersphoto</a>
      </li>
      <li>
        <span class='dib w4 f6 fw5 ttu tracked'>Email: </span>
        <a href='mail&#116;o&#58;c%6Fle&#64;co&#37;&#54;Cepe%74&#101;&#114;&#37;&#55;3&#46;&#99;&#111;m' class='dark-green dim'>cole&#64;colep&#101;t&#101;rs&#46;&#99;om</a>
      </li>
    </ul>
  </section>

  {{> footer home=true}}

  {{/inline}}
{{/document}}
