{{#> document}}
  {{#*inline 'content'}}

  <hgroup class='mv5 mv6-l'>
    <h1 class='fw3 mv0 near-black'>Cole Peters</h1>
    <h2 class='fw3 gray'>&mdash; photographer</h2>
  </hgroup>

  <img
    class='mw-100'
    srcset='images/colepeters-nun-640w.jpg 640w,
            images/colepeters-nun-1080w.jpg 1080w,
            images/colepeters-nun-1920w.jpg 1920w'
    sizes='(min-width: 64em) 100vw,
           (min-width: 48em) 100vw,
           100vw'
    src='images/colepeters/nun-1080w.jpg'
    alt='Nun, Verona; photograph by Cole Peters' />

  {{/inline}}
{{/document}}
