{{#> base title='photographer'}}
  {{#*inline 'content'}}

    {{> header subtitle='photographer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-oxfordstreet.jpg' style='max-width: 100%; height: auto;' alt='Photograph by Cole Peters, from Trafalgar Square, London, 2016'>
          <small class='s-gray-700'>
            Oxford Street, London; 2015
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds'>
          <section>
            <p class='s-h2 u-mt4'>
              Hello. 
            </p>
            <p>
              I am a photographer &mdash; originally from Canada, currently based in London,
              UK. During the day, I <a href='code.html'>write code for a living</a>.
              I also record <a href='http://colepeters.bandcamp.com'>the&nbsp;odd bit of music</a>.
            </p>
            <p class='u-mb4'>
              This website primarily serves as a point of reference for my&nbsp;photography.
            </p>
          </section>

          <section>
            {{> feature
              link='about.html'
              title='Information and selected work'
              subtitle='Information about my past and present, and an index of selected photographs'
            }}

            {{> feature
              link='images-pour-rien.html'
              title='Images Pour Rien'
              subtitle='My first self-published book'
            }}

            {{> feature
              link='http://colepeters.exposure.co'
              title='Photo essays on Exposure'
              subtitle='An ongoing series of articles and reportage'
            }}
          </section>

          {{> elsewhere}}
          {{>footer home=true}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

