{{#> base title='photographer'}}
  {{#*inline 'content'}}

    {{> header subtitle='photographer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='http://colepeters.com/photos/vsa2015web/ColePeters-LensCultureVSA2015-Series-06.jpg' style='max-width: 100%; height: auto;' alt='Photograph from Sclater Street, East London, 2015'>
          <small class='s-gray-700'>
            Sclater Street, East London; 2015
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            Ever since my father put an Olympus Stylus Epic into my then-adolescent hands, I have been a devout practitioner of photography.
          </p>
          <p>
            I am a street and documentary photographer at heart, driven to capture both pseudo-fictional stories and factual events. I shoot strictly in black and white, a held-over passion from my days of developing and printing my own images in a home darkroom.
          </p>
          <p>
            I have spent most almost every weekend of 2015 on the streets of London (and other locations in Europe), capturing spontaneous images in an ongoing series of work. This work is posted regularly in the form of photo-essays and on various image-sharing platforms. A book of photographs is currently being planned for 2016.
          </p>

          <h2 class='s-h3'>
            Recent and ongoing work
          </h2>

          <dl>
            <dt><a href='https://blog.colepeters.com/submitted/'>Submission for LensCulture VSAs 2015</a></dt>
            <dd>A blog entry, detailing the photographs and words I submitted to the LensCulture Visual Storytelling Awards, 2015.</dd>

            <dt class='u-mt3'><a href='https://colepeters.exposure.co/'>Photo essays, on Exposure</a></dt>
            <dd>An ongoing series of photo-essays reside over at my little home on Exposure. I try to add new stories at least once every month.</dd>
            
            <dt class='u-mt3'><a href='https://cole.vsco.co'>My VSCO Grid</a></dt>
            <dd>My most recently-published photographs are on my VSCO Grid, along with images shot on mobiles over the past couple years. New images are added on a weekly basis (sometimes more often).</dd>

            <dt class='u-mt3'>Elsewhere</dt>
            <dd>You can also find my photographs on <a href='https://www.flickr.com/photos/colepetersphoto/'>Flickr</a>. A mix of professional and personal/casual photos can be found on <a href='https://instagram.com/colepetersphoto'>my Instagram</a>.</dd>
          </dl>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

