{{#> base title='photographer'}}
  {{#*inline 'content'}}

    {{> header subtitle='photographer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-trafalgar.jpg' style='max-width: 100%; height: auto;' alt='Photograph by Cole Peters, from Trafalgar Square, London, 2016'>
          <small class='s-gray-700'>
            Trafalgar Square, London; 2016
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            Ever since my father put an Olympus Stylus Epic into my then-adolescent hands, I have been a lover of photography.
          </p>
          <p>
            I am a street and documentary photographer at heart (though I’m not strict about definitions), and am driven to capture the strangeness and ephemera of daily life. I shoot strictly in black and white, a practice held dear from my days of developing and printing my images in a home darkroom.
          </p>
          <p>
            I have spent many a weekend over the past years on the streets of London and other locations in Europe and Canada, capturing spontaneous moments in an ongoing series of images which seek to engage the viewer in the creation of spontaneous narratives.
          </p>
          <p>
            I released <a href='images-pour-rien.html'>‘Images Pour Rien’, my first book of photographs</a>, in early 2016. I am currently working on developing a new body of work, and taking on the occasional commission for publications.
          </p>

          <h2 class='s-h3 u-mt4'>
            Recent and ongoing work
          </h2>

          <dl>
            <dt><a href='images-pour-rien.html'>Images Pour Rien</a></dt>
            <dd>My first book of photographs, comprising one hundred images of people, places, and presences.</dd>

            <dt class='u-mt3'><a href='https://issuu.com/sister_magazine/docs/sistermag23-en/340?e=4475563/33733724'>‘Between Light and Shadow’, sisterMAG 23</a></dt>
            <dd>The Berlin-based sisterMAG commissioned me to write an article on the subject of black and white photography. A selection of my photographs accompany the writing.</dd>
            
            <dt class='u-mt3'><a href='https://colepeters.exposure.co/'>Photo essays, on Exposure</a></dt>
            <dd>An ongoing series of photo-essays reside over at my little home on Exposure. I try to add new stories at least once every month.</dd>

            <dt class='u-mt3'><a href='https://instagram.com/colepetersphoto'>Instagram</a></dt>
            <dd>New photos are posted regularly on my Instagram account, along with some personal snapshots.</dd>
          </dl>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

