{{#> base title='sound artist'}}
  {{#*inline 'content'}}

    {{> header subtitle='sound artist.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-cassette.jpg' alt='Close-up photograph of a cassette tape' style='max-width: 100%; height: auto;' />
          <small class='s-gray-700'>
            Magnetic tape cassette
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            I have been recording music in one form or another since my teenage years. For the past decade or so, I have been producing various forms of noise, drone, and otherwise experimental forms of sound.
          </p>
          <p>
            
          </p>

          <h2 class='s-h3 u-mt4'>
            Recordings, performances, and documents
          </h2>

          <dl>
            <dt><a href='https://colepeters.bandcamp.com'>Releases on BandCamp</a></dt>
            <dd>Select past and current recordings of mine are available on BandCamp. They can be streamed for free, or downloaded for a pittance.</dd>

            <dt class='u-mt3'><a href='https://www.youtube.com/playlist?list=PLTqcFg7Cpo08yBAGVEY11cmT1U-NS6gNw'>Live actions (performances)</a></dt>
            <dd>A YouTube playlist containing a few video recordings of some gigs I’ve played over the years.</dd>
          </dl>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

