{{#> base title='writer'}}
  {{#*inline 'content'}}

    {{> header subtitle='writer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-offscreen09.jpg' alt='Photograph of an article by Cole Peters, Offscreen Manage, Issue 9' style='max-width: 100%; height: auto;' />
          <small class='s-gray-700'>
            Article published in Offscreen magazine, issue 9
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>
          <p class='s-h3'>
            The written word has been a personal fascination since my childhood days, when I would often get lost in writing and illustrating my own books.
          </p>
          <p>
            My writing today is largely of a personal nature, having shifted somewhat after spending several years authoring articles on design, culture, and occasionally, socio-political issues. Lately, I’ve been entertaining thoughts of dipping my toes into the world of short-form fiction (though nothing has materialised of this — yet).
          </p>
          <p>
            Most of my ongoing work can be found on my blog, though I’ve also been fortunate to have my articles published by other people, and even printed.
          </p>

          <h2 class='s-h3 u-mt4'>
            Recent and ongoing writing
          </h2>

          <dl>
            <dt><a href='https://blog.colepeters.com'>A blog by Cole Peters</a></dt>
            <dd>I have been publishing articles to my blog consistently for the past 2–3 years. In 2012, I maintained a schedule of publishing one article per day for several months. More recently, I have decided to get back into a regular flow of personal writing. New articles are published every week, on Sundays, and are also <a href='https://medium.com/@cole_peters'>syndicated to Medium</a>.</dd>

            <dt class='u-mt3'>Published writing</dt>
            <dd>My writing has been published in print by <a href='http://www.offscreenmag.com/'>Offscreen magazine</a> (see <a href='http://www.offscreenmag.com/issue9/'>issue 9</a>). One of my blog posts was <a href='https://www.adbusters.org/blogs/why-i-am-renewing-first-things-first-manifesto.html'>republished by Adbusters</a> in 2014. A bite-sized opinion piece can be found on <a href='http://www.designweek.co.uk/do-you-think-design-can-save-the-world/'>DesignWeek’s VoxPop</a> (free registration required to read).</dd>
          </dl>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

