{{#> base title='writer'}}
  {{#*inline 'content'}}

    {{> header subtitle='writer.'}}

    <div class='o-container'>
      <div class='o-row'>
        <div class='o-col-oneWhole'>
          <img src='images/tcp-offscreen09.jpg' alt='Photograph of an article by Cole Peters, Offscreen Manage, Issue 9' style='max-width: 100%; height: auto;' />
          <small class='s-gray-700'>
            Article published in Offscreen magazine, issue 9
          </small>
        </div>

        <div class='o-col-oneWhole _lg-o-col-twoThirds u-mt4'>

          {{>footer}}

        </div>
      </div>
    </div>

  {{/inline}}
{{/base}}

