<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Cole Peters</title>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body class='sans-serif ph2 ph3-ns ph5-l smooth'>
    <section class='center mw7-ns mw8-l'>
      {{> content}}
    </section>
  </body>
</html>
