<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <meta name='description' content='Hello, I’m Cole. I make photographs, write code, and sculpt sounds. Originally from Canada, I’m currently based in London, England.' />
    <meta name='keywords' content='photography, street photography, black and white, photographer, leica, web development, web design, ui, front-end, css, javascript, canadian, canada, london, uk' />
    <title>Cole Peters &mdash; {{ title }}</title>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body class='sans-serif fw4 near-black bg-white ph2 ph3-ns ph6-l' style='-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;'>
    <main class='center mw7-ns mw8-l'>
      {{> content}}
    </main>
  </body>
</html>
