<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Cole Peters &mdash; {{ title }}</title>
    <link rel='stylesheet' href='css/style.css' />
  </head>
  <body class='sans-serif fw3 near-black ph2 ph3-ns ph6-l smooth'>
    <main class='center mw7-ns mw8-l'>
      {{> content}}
    </main>
  </body>
</html>
