<ul class='u-listReset u-pl0 u-mt4'>
  <li><span class='s-smallCaps s-600 u-inlineBlock' style='width: 8em;'>Instagram:</span> <a href='https://instagram.com/colepetersphoto' title='My profile on Instagram'>@colepetersphoto</a></li>
  <li><span class='s-smallCaps s-600 u-inlineBlock' style='width: 8em;'>Twitter:</span> <a href='https://twitter.com/cole_peters' title='My profile on Twitter'>@cole_peters</a></li>
  <li><span class='s-smallCaps s-600 u-inlineBlock' style='width: 8em;'>Email:</span> <a href='mail&#116;o&#58;c%6Fle&#64;co&#37;&#54;Cepe%74&#101;&#114;&#37;&#55;3&#46;&#99;&#111;m' title='My email address'>cole&#64;colep&#101;t&#101;rs&#46;&#99;om</a></li>
</ul>
