<section class='lh-copy mt5 mt6-l' stlye='max-width: 56ch;'>

  <h1 class='mb0 fw3 f4 ttu tracked gray'>Coming soon</h1>
  <h2 class='mt0 f2 fw3'>32 Frames from the North of Italy</h2>
  <div class='responsive-embed bg-light-gray'>
    <iframe width="1280" height="720" src="https://www.youtube-nocookie.com/embed/Bfb4rhv8pKw?rel=0&amp;showinfo=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
  <div class='lh-copy' style='max-width: 60ch;'>
    <p class='f4 fw4'>
      One camera, one lens, one week, one country. Thirty-two moments in&nbsp;monochrome.
    </p>
    <p>
      In July of 2016, we touched down into the swelter of the Italian&nbsp;summer.
    </p>
    <p>
      Knowing little of the country and even less of the language, I let my camera guide my steps as we travelled through Pisa, Gavi, Bergamo, Verona, and around the Southern half of Lake&nbsp;Garda.
    </p>
    <p>
      I didn’t know what to expect from Italy, but what I came back with were some of the most evocative photographs I’ve had the pleasure of making.
    </p>
    <p class='mt4 f4'>
      <strong>&rsquo;32 Frames from the North of Italy&lsquo; will be available September 2016.</strong>
    </p>
    {{! linkButtonPrimary label='Purchase for £12 + shipping' href='32-frames.html'}}
    {{! <span class='pa2'>&nbsp;</span> }}
    {{! linkButtonSecondary label='Learn more about the book' href='32-frames.html'}}
  </div>

</section>
