<footer class='s-gray-700 u-pt4 u-pb4 u-mt4' style='border-top: 1px solid #ddd;'>
  <p>
    <small>
      <a href='photography.html'>Photography</a> | <a href='writing.html'>Writing</a> | <a href='sound.html'>Sound</a> | <a href='design.html'>Design</a> | <a href='https://github.com/colepeters'>Code</a><br />
      Images and content &copy; 2015 Cole Peters.<br />
      Thanks for visiting.<br />
      {{#unless home}}
        <br />
        <a href='/' title='Go to the home page'>You can go home again.</a>
      {{/unless}}
    </small>
  </p>
</footer>
