<section class='lh-copy mt5 mt6-l' style='max-width: 56ch;'>
  <div class='bt b--light-gray pt5 pt6-l pb3 pb4-l gray'>
    {{# unless home}}
      <p><a href='//colepeters.com' class='dark-green dim fw4'>Back to the front page</a></p>
    {{/unless}}
    <p>Thanks for visiting.</p>
    <p>Photographs and other content are &copy; 2016 Cole Peters, and may not be reproduced without permission.</p>
  </div>
</section>
