<footer class='s-gray-700 u-pt3 u-pb3'>
  <p>
    <small>
      Original images and other content &copy; 2015 Cole Peters.<br />
      Thanks for visiting.<br />
      {{#unless home}}
        <br />
        <a href='/' title='Go to the home page' style='background-position: 0 95%;'>You can go home again.</a>
      {{/unless}}
    </small>
  </p>
</footer>
