<header class='o-container u-pt4 u-pb4 u-mt2 u-mb2 _md-u-pt5 _md-u-pb5'>
  <div class='o-row'>
    <div class='o-col-oneWhole'>
      <h1 class='s-h2 s-500 u-m0'>
        <a href='/' class='s-linkReset'>
          Cole Peters
        </a>
      </h1>
      <p class='s-h4 s-300 s-coolGray-900'>
        <span class='s-200 s-coolGray-700'>—</span> {{ subtitle }}
      </p>
    </div>
  </div>
</header>
