<section class='lh-copy mt5 mt6-l' stlye='max-width: 56ch;'>
  <h1 class='fw5'>Index of work</h1>

  <table class='w-100 collapse'>
    <thead class='bb b--light-gray'>
      <tr>
        <th class='tl ttu tracked w-30 fw5 gray' style='font-size: 75%'>Title</th>
        <th class='tl ttu tracked w-70 fw5 gray' style='font-size: 75%'>Summary</th>
      </tr>
    </thead>
    <tbody class='f6'>
      {{> indexOfWorkItem
      link='32-frames.html'
      title='32 Frames from the North of Italy'
      summary='Something about the book in a sentence. Or maybe two.'}}

      {{> indexOfWorkItem
      link='images-pour-rien.html'
      title='Images Pour Rien'
      summary='1 year, 100 photographs of people, places, and presences.'}}
    </tbody>
  </table>

</section>
