<section class='lh-copy mt5 mt6-l' stlye='max-width: 56ch;'>

  <h1 class='mb0 fw3 f4 ttu tracked gray'>New book</h1>
  <h2 class='mt0 f2 fw3'>32 Frames from the North of Italy</h2>
  <div class='pa4 pa6-ns pa7-l bg-near-white'>
    <img src='images/colepeters-32frames-cover.png' alt='Cover of the book "32 Frames from the North of Italy"' class='mw-100 shadow-4' />
  </div>
  <div class='lh-copy' style='max-width: 60ch;'>
    <p class='f4'>
      Self timer, advance lever, shutter release scale focus. Hyperfocal fiber print.
    </p>
    <p>
      In July photograph Leica aperture aspect ratio print enlarger develop chemical stop bath fix developer. Silver halide extension tubes reciprocity failure circle of confusion. Depth of field scale f-stop, manual focus lens camera rangefinder mirror. Reflex bayonet mount adapter.
    </p>
  </div>

</section>
