<section class='lh-copy mt5 mt6-l' stlye='max-width: 56ch;'>
  <h1 class='fw5'>Selected photography</h1>

  {{! selectedWorkItem
  link='32-frames.html'
  title='32 Frames from the North of Italy'
  summary='Something about the book in a sentence. Or maybe two.'}}

  {{> selectedWorkItem
  link='http://www.privatephotoreview.com/2016/07/we-are-the-future-london-youth-respond-to-the-uk-eu-referendum/'
  title='We Are the Future'
  summary='London youth respond to the UK-EU referendum. Published in PRIVATE Photo Review’s Your EUrope series, July 2016.'}}

  {{> selectedWorkItem
  link='https://colepeters.exposure.co/maximum-black'
  title='Maximum Black'
  summary='Bohren & der Club of Gore at Union Chapel, 21 May 2016'}}

  {{> selectedWorkItem
  link='https://www.lensculture.com/colepeters?modal=true&modal_type=project&modal_project_id=246182'
  title='Untitled'
  summary='My submission to Magnum Photo Awards 2016, hosted by Lens Culture'}}

  {{> selectedWorkItem
  link='https://colepeters.exposure.co/coming-home-to-the-leica-m'
  title='Coming Home to the Leica M'
  summary='On rangefinder photography and the Leica M Typ 262'}}

  {{> selectedWorkItem
  link='images-pour-rien.html'
  title='Images Pour Rien'
  summary='1 year, 100 photographs of people, places, and presences.'}}

  {{> selectedWorkItem
  link='https://issuu.com/sister_magazine/docs/sistermag23-en/340?e=4475563/33733724'
  title='Between Light and Shadow'
  summary='Words and photographs on life in black and white; sisterMAG no. 23, February 2016'}}

  {{> selectedWorkItem
  link='https://www.lensculture.com/colepeters?modal=true&modal_type=project&modal_project_id=200307'
  title='End Austerity Now'
  summary='Photographs from a colossal protest'}}

</section>
