@import '../../node_modules/gemma/src/gemma.css';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-shadow: -0.03em 0 0 #fff, 0.03em 0 0 #fff, -0.06em 0 0 #fff, 0.06em 0 0 #fff, -0.09em 0 0 #fff, 0.09em 0 0 #fff, 0 -0.03em 0 #fff, 0 -0.06em 0 #fff, 0 -0.09em 0 #fff;
}

small a {
  background-position: 0 95%;
}

::selection {
  background: var(--color-aqua-100);
  text-shadow: none;
}

::-moz-selection {
  background: var(--color-aqua-100);
  text-shadow: none;
}

.c-button {
  display: inline-block;
  appearance: none;
  border: none;
  border-radius: 3px;
  text-shadow: none;
}
