@import '../../node_modules/tachyons/css/tachyons.css';

.appearance-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Override Tachyons' transition prop for .link*/
.link,
.link:link
.link:active,
.link:hover,
.link:focus,
.link:visited {
  transition: all 0.2s ease;
}
